[2012-05-09 08:01] mmornati opened #1 "SRM Api connection unavaible"
Should be cool to include in the Ruby API also the SRM capabilities (http://www.vmware.com/support/developer/srm-api/)

[2012-05-10 02:02] jiqiren opened #2 "can't find Datastore without known name for Datacenter.find_datastore(name)"
Using a fresh install of vsphere v5, i can browse with rvc and see my data store:
[code]
However using the ruby gem rbvmomi with the following code does not work:
[code]
Output is always nil no matter what I pass to dc.find_datastore, dc.find_compute_resource(...) works as expected as does dc.find_vm(...).

Why do I need to explicitly know the exact name of the datastore beforehand? Isn't "find" a

[2012-08-27 11:11] Cindia-blue opened #4 ""host_mo_ref.config.storageDevice.plugStoreTopology.device.lun" returns nil"
try to get key of mapped Lun device by calling host_mo_ref.config.storageDevice.plugStoreTopology.device.lun, but keep got nil. according to VIM development guidence, this should return an object of Lun(ScsiLun). should I change to some other way with Rbvimomi function invocation to reach the goal? Looking forward to suggestions on this problem and sharing of best dev practice with Rbvmomi.

[2012-09-07 12:53] nedoshel opened #5 "undefined method `stringify_keys' for #<RbVmomi::VIM:0x000000049c3278>"
sometime in same code i get this and sometime not)
controller:

vms = dc.vmFolder.childEntity[0].children

or

datastore.vm

like this.
what can it be?

[2012-11-01 15:06] olbrich opened #6 "Does not work with JRuby"
Seems to be flat out broken under jruby

    $ gem list

    *** LOCAL GEMS ***

    rbvmomi (1.6.0, 1.5.1)
    $ jruby -v
    jruby 1.6.7.2 (ruby-1.9.2-p312) (2012-05-01 26e08ba) (Java HotSpot(TM) 64-Bit Server VM 1.6.0_37 [darwin-x86_64-java]
    $ jirb
    jruby-1.6.7.2 :001 > require 'rubygems'
    jruby-1.6.7.2 :002 > require 'rbvmomi'
    ArgumentError: invalid encoding in marshaling stream:

[2012-11-08 14:03] leeor opened #7 "Serialization error when trying to clone from a template using a DHCP IP generator"
Below is the output provided by the error.

I might be doing something wrong here, but according to every doc and example I found this should be working. Also, the error is during serialization of the request customization settings, and not from the server.

Output:

[code]

[2012-11-08 14:18] #7 closed, assigned to nobody

[2012-12-11 22:12] MattMencel opened #9 "Cannot Clone to 2nd Cluster in a Datacenter"
I have a VSphere datacenter with two clusters.  I'm actually using Chef "knife vsphere" specifically, but the bug I'm running into seems to be related to RbVmomi.

I am unable to 'knife vsphere vm clone' any templates to the hosts in the second cluster.  I get this error whenever I attempt.

[code]

I can clone the template from the VSphere Client and it works fine.  If I migrate the template to a

[2012-12-13 17:10] #9 closed, assigned to nobody

[2012-12-14 20:26] jjmartres opened #11 "Save session"
Hi,

Is there any way to save session for a specific time like it can be done with vSphere cli ?

http://pubs.vmware.com/vsphere-50/index.jsp?topic=%2Fcom.vmware.perlsdk.pg.doc_50%2Fviperl_intro.3.4.html

[2012-12-19 17:48] denyago opened #12 "Not works with 5.1 API"
It not works with 5.1 API version, that my hosting-provider has.

Example fails event before user is authenticated:

[code]

It fails here: https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/trivial_soap.rb#L90 . It gets 404 when doing `POST /sdk`.

[2012-12-19 19:27] #12 closed, assigned to nobody

[2012-12-20 01:18] charlierudolph opened #13 "Name clash with exterior class"
First off, awesome project, was very happy I found this.

So I'm trying to use with a rails application and running into a name clash. I'm trying to get a virtual machine object, which has a network attribute that is of type ```Network[]```. I have a model in my rails application called Network. This is causing an error in the deserialization. (Ensured this by removing the model and it worked prop

[2013-02-27 04:39] dekz opened #14 "RuntimeError while deserializing returnval"
I keep getting this almost randomly, I can't nail down what the cause is. It happens with task messages, or Vm responses anything.

There doesn't seem to be any issue with the XML either. I understand it may be a nokogiri error and not exactly RbVmomi.

Anyone else has any issues?

[2013-03-08 22:56] drnic opened #15 "Add a gemspec"
I see that its a rubygem http://rubygems.org/gems/rbvmomi but there's no gemspec in the root folder.

[2013-03-08 22:57] drnic opened #16 "Add a Gemfile for the gemspec"
To make it easier for devs to help, include a Gemfile (no Gemfile.lock) so they can run "bundle install" to get all the dependencies.

[2013-04-25 19:10] slippycheeze opened #17 "Ruby 1.9.3p392 (and probably any 1.9 Ruby) incorrectly stringify `RbVmomi::Fault` in `raise`"
One of the semantic changes in Ruby 1.9 was to start using methods like `String#to_str` blindly, and relying on the MethodMissing exception to determine that the facility isn't supported.

This, in turn, leads to calling `raise` on an explicitly created instance of `RbVmomi::Fault` (from 1.6.0) raising a `RuntimeError` instance - because `RbVmomi::Fault` delegates `to_str` to the `@fault` member,

[2013-07-22 14:36] Plaristote opened #20 "Vsphere answers to some request with binary blobs"
Greetings !

I have a little issue with rbvmomi.
It might actually come from the vsphere provider for all I know, but it turns out that some specific request, regardless of the context in which they're made, get answered with binary blobs.

I slightly modified trivial_soap.rb to output the response.body.
It usually contains XML, as is expected, but when I am trying to get the config attribute of a

[2013-07-31 17:12] toobulkeh opened #21 "PerformanceManager helper maps wrong counter"
The 20s metrics return valid results, even for extended periods of time, but the 300s result sets are always empty:

[code]

Is there a requirement on the vCenter side to pull these metrics properly?
The host's storage charts (built on the 5 min historic data) populates properly:
http://imgur.com/Cd1NPLM

Thanks

[2013-08-07 16:34] tve opened #23 "PerformanceManager.rb redefines Time.to_datetime"
Why does PerformanceManager redefine this std library method? I can get the fractional second but the UTC offset looks plain wrong. This makes it difficult to use this library in any application that uses this method!

[2013-08-13 02:23] Altonymous opened #24 "There is no clear documentation that I can find to get properties for a virtual machine..."
If I'm mistaken please direct me to the appropriate documentation.  But I'm having a hard time figuring out how to get some properties for an array of virtual machines.  I created this gist that shows where I currently stand.

https://gist.github.com/Altonymous/97e20bc1e72e23a2bb8c

Any help would be greatly appreciated.

[2013-09-12 20:25] skywalk7 opened #25 "ManagedObjectReference type support is incomplete"
When I try to create cluster vm antiaffinity rule, I need to fill AntiAffinityRuleSpec vm property with the list of ManagedObjectReference that points to VMs involved.
I try it like this:
moref = RbVmomi::BasicTypes::ManagedObjectReference(
  :type => "VirtualMachine",
  :value => vm_instance._ref )

But that doesn't work. Can you please help with this?

[2013-10-22 15:17] nirvdrum opened #26 "Add support for CD-ROMs / ISOs"
A common approach to creating a new VM is to mount an ISO from a datastore and mark it as connected at power on.  There's a few places where direct support for this would be handy.  E.g., if VirtualMachine had utility method a la `disks` for CD-ROMs.

[2013-11-20 04:35] #25 closed, assigned to nobody

[2013-11-21 06:01] skywalk7 opened #28 "Add a xsd:int support"
By default, all integer types are serialized with xsi:type="xsd:long", but "xsd:int" is required to remove ClusterRuleSpec with ReconfigureComputeResource_Task. For example, this will fail:

[code]

and this will work:

[code]

[2013-12-20 02:15] skywalk7 opened #31 "after update to 1.8.1: unknown VMODL type AnyType"
It happens while deserializing RetrieveProperties response

[code]

[code]

[2013-12-26 22:04] #31 closed, assigned to nobody

[2013-12-26 22:05] #28 closed, assigned to nobody

[2014-02-13 17:13] mkuzmin opened #34 "Single Sign-On Support"
The library requires to provide username and password explicitly in the script body.
So I have to either store user credentials in version control, or configure them at runtime.

vCenter already supports [single sign on](https://www.vmware.com/support/developer/vc-sdk/sso-sdk/), so that would be great if rbvmomi does it too.

[2014-06-03 14:27] alexant0n0v opened #43 "selectedVnic method returns corrupted data?"
Hi,

My environment:
ESXi 5.1 + vCenter 5.1
CentOS 6.4 x64 + ruby 1.9.3p448 + RbVmomi 1.6.0

I've successfully tryed to execute following commands (rails console with rbvmomi library):

opt = {:host=>'myvcenterhost',:user=>'myuser',:password=>'mypassword',:insecure=>true}
vim = RbVmomi::VIM.connect opt
dc = vim.serviceInstance.find_datacenter("datacenter_name") or fail "datacenter not found"
clust

[2014-06-17 07:33] loganathan-s opened #44 "Unable to fetch RootFolder - RuntimeError: unknown VMODL type AnyType"
Getting runtime error while trying to fetch the rootfolder, below is my code

 vim = RbVmomi::VIM.connect host: fqdn, user: user, password: password, insecure: true
 rootFolder = vim.serviceInstance.content.rootFolder

RuntimeError: unknown VMODL type AnyType
	from /home/logan/.rvm/gems/ruby-2.0.0-p451/gems/rbvmomi-1.8.1/lib/rbvmomi/type_loader.rb:103:in `make_type'
	from /home/logan/.rvm/gems/rub

[2014-07-21 22:34] mlabs-dev opened #46 "find_vm() fails for some VM's and not others"
I have a bunch of identical VMs named ac-dev-01, ac-dev-02, ac-dev-03, ac-dev-04  ...
and what i'm seeing is that for one of them, dc.find_vm() fails to find the VM ... no idea why....

[2014-09-02 21:46] hartsock opened #47 "Basic Travis-CI support"
As the community contributes code, it would be nice to have an integration with Travic-CI that would tell us if a given change breaks the build or not. Incorporating Travis-CI in a similar way to how [pyVmomi has done](https://travis-ci.org/vmware/pyvmomi/) can help evaluate the quality of contributions in a dispassionate and consistent way.

[2014-09-22 22:09] hartsock opened #51 "Rakefile update"
The Rakefile for this project will not run on newer environments. This should be a _minimal update_ to get the Rakefile in shape.

`ERROR: 'rake/rdoctask' is obsolete and no longer supported. Use 'rdoc/task' (available in RDoc 2.4.2+) instead.`

[2014-09-22 22:17] #51 closed, assigned to hartsock

[2014-09-22 22:40] hartsock opened #53 "Dependency Management"
rbVmomi's `Rakefile` needs `yard` and `jeweler` to bootstrap. It seems like these dependencies should be expressed ahead of time somehow.

* http://rubygems.org/gems/yard
* http://rubygems.org/gems/jeweler

(TODO: fix this or learn why we don't need to)

EDIT:

I'm basing the need for this on the following session:
[code]

After `yard` and `jeweler` are in place the gem bootstraps properly.

[2014-09-23 15:30] #15 closed, assigned to nobody

[2014-09-23 15:30] #16 closed, assigned to nobody

[2014-09-24 20:59] hartsock opened #56 "Release 1.8.2"
based on helpful input on `#rbvmomi-dev` I've pushed [v1.8.2.pre](https://github.com/vmware/rbvmomi/releases/tag/v1.8.2.pre) to [rubygems](https://rubygems.org/gems/rbvmomi) please test away. I'll keep the release as a [prerelease](http://guides.rubygems.org/patterns/#prerelease-gems) until next Wednesday to allow for someone to yell `stop` if needed. I'll follow the same pattern on any subsequent

[2014-09-25 16:08] hartsock opened #57 "Investigate alternative higher-performance XML processors"
This is a low priority `wishlist` item from an IRC conversation in `#rbvmomi-dev` on freenode.

Based on pain points in [nokogiri](http://nokogiri.org/), around [memory use](https://groups.google.com/forum/#!topic/nokogiri-talk/egQdO45hI_k), [performance](http://www.danneu.com/posts/16-xml-parsing-benchmark-ox-vs-nokogiri-sax-vs-dom-traversal/), and [installation problems](https://twitter.com/stev

[2014-10-23 21:16] amgrice opened #59 "VMODL Issue when using Beaker"
Hey all,

After doing some digging, we are running into issues with Beaker (https://github.com/puppetlabs/beaker) using rbvmomi. When Beaker tries to run a test we get an error:

Failed: errored in CLI.provision
#<RuntimeError: unknown VMODL type AnyType>

Attaching a gist of the error and gem versions on the box. https://gist.github.com/amgrice/7e24b3bd297542b029a2

Thanks for your help!

[2014-11-24 10:29] sathieu opened #61 "Not enough details when faulting"
For example, I have "NoPermission: Permission to perform this operation was denied.". But the missing permission is in the XML response [ref](http://kb.vmware.com/kb/2079774).

This should probably be done in [Connection::parse_response](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/connection.rb#L55).

I can propose a PR, but I need more info on the XML format of 'detail'.

[2015-01-05 22:34] blysik opened #63 "bug in utils/perfdump.rb"
Line 339:

    hosts_props = inventory.select{|k, v| k.is_a?(VIM::HostSystem)}

Shouldn't that instead be:

    hosts_props = inventory.select{|k, v| k.is_a?(RbVmomi::VIM::HostSystem)}

[2015-02-18 08:56] AbhishekS-NN opened #64 "expected xsd:anyType for 'value', got array - error using vmware API"
Hi,
I'm  trying to apply host profile using vmware APIs.

execute_result = profile.ExecuteHostProfile(host: mob)
apply_task = @client.connection.serviceInstance.content.hostProfileManager.ApplyHostConfig_Task(host: mob, configSpec: execute_result.configSpec)

I got the following error while applying the profile:
expected xsd:anyType for 'value', got array

Also, the complete configSpec is being di

[2015-04-16 06:30] lzap commented on #56
Hello,

how far are you with supporting 5.5 vCenter API?

[2015-04-30 15:49] hartsock commented on #56
@lzap my personal bandwidth is fairly well consumed between pyVmomi and a couple other projects I'm on. I have heard from folks willing to take up some of the slack on these projects and hope to start working with them soon.

[2015-04-30 15:49] #56 closed

[2015-05-01 18:01] #46 closed

[2015-05-01 18:02] mlabs-dev commented on #46
the vm's that couldn't be found were actually in a subfolder from the others .. which wasn't obvious...

[2015-06-22 12:02] thanhngn opened #65 "bug in utils/admission_control.rb"
Module "VIM" is not undefined. Replace "VIM" by "RbVmomi::VIM" for the lines:
80/84/101/104/115/119/134/148/171/176/182/183/186/205/209/217/303/333/

For example:
L84:
@vm_folder ||= datacenter.vmFolder.traverse!(@vm_folder_path, VIM::Folder)
shouldn't that instead be:
@vm_folder ||= datacenter.vmFolder.traverse!(@vm_folder_path, RbVmomi::VIM::Folder)

[2015-06-29 07:42] losingle opened #67 "Nokogiri::XML::XPath::SyntaxError: Undefined namespace prefix: //soapenv:Body/*"
ruby 2.0.0p576

[code]

Nokogiri::XML::XPath::SyntaxError: Undefined namespace prefix: //soapenv:Body/*
    from /Users/losingle/.rvm/rubies/ruby-2.0.0-p576/lib/ruby/gems/2.0.0/gems/nokogiri-1.6.6.2/lib/nokogiri/xml/searchable.rb:165:in `evaluate'
    from /Users/losingle/.rvm/rubies/ruby-2.0.0-p576/lib/ruby/gems/2.0.0/gems/nokogiri-1.6.6.2/lib/nokogiri/xml/searchable.rb:165:in`block in xpath'

[2015-07-10 19:02] forlornlawngnome opened #68 "Search Folder by uuid => Instance"
The code for searching a folder in the method findByUuid allows for searching by instanceUuid which is the only unchanging and completely unique identifier for a VM. However, this implementation of it forces the instanceUuid to always be false. It would be nice if we could pass in a parameter to allow usage of instance Uuid.

Relevant code: (In VIM/Folder.rb)
def findByUuid uuid, type=RbVmomi::VIM

[2015-07-23 18:06] superscott commented on #67
Same issue, also using ``ssl: false``

[2015-07-23 20:31] superscott commented on #67
@losingle after stepping into Nokogiri and looking at the output that triggers the error, looks like it tries to parse a redirect...

[code]

Note the  `children = [ #(Text "301 Moved Permanently")]`

However, when I updated the host to the following: `RbVmomi::VIM.connect host: "https://vsphere"` I ended up getting a different error where Ruby can't connect to that address.
`SocketError: getaddri

[2015-07-23 21:33] superscott commented on #67
@losingle Figured it out for my situation. For whatever release, I thought the `ssl: false` option was to disable ssl verification. So passing that option caused vsphere to get called over port 80, and then a redirect response was coming back causing the Nokogiri parse error.

What actually helped the situation was just to use the `insecure: true` option, and was then able to connect. Hopefully yo

[2015-07-29 07:48] cdickmann commented on #68
I would suggest that you simply add such a convenience function yourself. You can easily do this by adding such a construct to your code. RbVmomi is meant as a minimalist wrapper around the API. We have a few convenience functions, but overall we encourage those not to get bloated. The underlying API has what you need, so it's best to just go ahead and use it.
RbVmomi::VIM::Folder
class RbVmomi::V

[2015-07-29 13:51] forlornlawngnome commented on #68
Bloated? You could just modify this method to include it as an optional parameter:

def findByUuid uuid, type=RbVmomi::VIM::VirtualMachine, dc=nil, instanceUuid=false
propSpecs = {
:entity => self, :uuid => uuid, :instanceUuid => instanceUuid,
:vmSearch => type == RbVmomi::VIM::VirtualMachine
}
propSpecs[:datacenter] = dc if dc
x = _connection.searchIndex.FindByUuid(propSpecs)
x if x.is_a? type
en

[2015-08-20 07:57] losingle commented on #67
@superscott
[code]
It is working

[2015-08-20 17:15] superscott commented on #67
八(＾□＾*)
Can probably close this issue now, me thinks.

[2015-08-21 08:27] losingle commented on #67
OK

[2015-09-01 04:29] rylarson commented on #68
It would probably be easier to get it added if you submitted a PR with the required tests and what not.

[2015-09-03 01:57] heterodox opened #69 "Can't set manual MAC address when using template"
I am cloning from a template and not a VM in order to create Vagrant machines; when attempting to set an address type I get a NotSupportedException and when attempting to set a MAC address I'm getting "The resource '###' is in use." I think this is because in clone.rb add_custom_address_type and add_custom_mac_address are being called on the *template* before the new VM has been created.

I change

[2015-09-03 01:59] heterodox commented on #69
This issue was opened against the wrong project; it was meant to be opened against vagrant-vsphere. Apologies.

[2015-09-03 01:59] #69 closed

[2015-09-22 20:53] howels opened #71 "Please add example of DistributedVirtualSwitch creation and configuration"
Would love to use rbvmomi more extensively but topics such as distributed virtual switching are not clear to me. An example file covering this would be of great help.

[2015-10-30 18:08] skpy commented on #26
We solved this same problem by [explicitly adding the VirtualCdrom device info](https://github.com/covermymeds/mkvm/blob/master/lib/vsphere.rb#L217) in the new VM hash.

What we're struggling with now is programmatically detaching these VirtualCdrom devices after the machine has booted.  Our attempts so far all result in the guest crashing hard.  :cry:

[2015-12-30 06:27] balasankarc opened #72 "Provide a man page for rbvmomish"
Hi,
I am packaging rbvmomi for Debian, because it is part of the GitLab dependency chain (through fog-vsphere). I saw that there exists a binary named `rbvmomish` in the repo. I have a doubt whether it should be packaged (mainly coz I don't see it mentioned in the readme).

So, should it be included in the package or can I skip it? If it has to be included, can you please provide a man file descri

[2016-01-14 11:06] klochto commented on #20
Hi

i turn into the same issue

urn:vim25/5.5
<env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><RetrieveProperties xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet xsi:type="PropertyFilterSpec"><propSet xsi:type="PropertySpec"><type>Data

[2016-01-28 12:17] pmitoraj opened #73 "vsphere 6.0 specific objects do not exist"
vSphere 6.0 introduced cross vcenter migrations. The support for this feature was added by introducing service and folder attributes in [VirtualMachineRelocateSpec](http://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.RelocateSpec.html). However, an attempt to create the spec ends with `RuntimeError: unexpected property name service`.

Used rbvmomi 1.8.2. Is th

[2016-03-31 18:24] MichaelPereira opened #74 "Invalid argument @ rb_sysopen when deploygin ovf files on Windows"
While PR are not merged, I just wanted to document a problem on Windows and a possible fix.

After generating box in the ovf format, if you try to use them to create new vagrant boxes on a Windows machine, you will encounter the following error:

[code]

This is due to a bug in `lib/rbvmomi/utils/deploy.rb` which treats windows path names as URI and discards the "host" part which removes the root

[2016-03-31 18:34] MichaelPereira commented on #74
CC @frapposelli as the bug was introduced in 69a888f93d9bad9f0a2de295bc9dc9e06aff38f0

[2016-03-31 18:36] frapposelli commented on #74
This is not a rbvmomi bug but a vagrant-vcenter bug, please file it there.

Rbvmomi version used in vagrant-vcenter is a fork of the main rbvmomi.

[2016-03-31 18:36] #74 closed

[2016-03-31 19:31] MichaelPereira commented on #74
@frapposelli do you mean https://github.com/frapposelli/vagrant-rbvmomi? I will create a pull request there tonight.

[2016-05-23 21:00] mmoll opened #78 "is rbvmomi abandoned?"
just asking...

[2016-05-23 22:43] pacdelory commented on #78
Based on the most recent PR from @cobyrne-pivot, which aims to update it for the 6.0 API, I would have to say no. Also, I believe the vSphere modules for Puppet and Chef still depend on RbVmomi--as does VMware's own Ruby vSphere Console. Those needs alone should keep the project alive...

Having said all that, this repo has been a ghost town, so the question is a valid one. I've wondered myself.

[2016-06-14 08:29] finkelamein opened #79 "Vmware Customization doesn't (seem to) pick up run-once commands"
Coming from a problem noticed in foreman vpshere integration, through fog-vsphere, ending over here.
See:
https://github.com/fog/fog-vsphere/issues/37#issuecomment-224605166
http://projects.theforeman.org/issues/14979

The following hash get's passed from foreman, through fog-vsphere, but never makes it to the customization. (at least, it doesn't execute the commands, and no evidence of them is fo

[2016-07-15 13:50] earvidso commented on #78
@pacdelory There may have been a pull request opened, but there haven't been any commits/merges since October 2014. I've opened a pull request myself for SSO support (which would be very helpful to upstream projects) but I don't have a lot of hope of it getting merged.

[2016-07-15 13:53] timogoebel commented on #78
@hartsock: Could you maybe shed some light on the current status of `rbvmomi`?

Nevertheless I've already contacted our vmware TAM to get some info. I'm still waiting for an answer. We'll see what happens..

[2016-07-15 13:58] earvidso commented on #78
@timogoebel That's very helpful; I appreciate it. (It'd take significantly more work for me to get in touch with ours.)

I do understand per README.MD that this is a side project of a VMware employee and there's no support from VMware, but there are upstream projects that use this gem. Either some community members need to be given commit permissions or the gem needs to be forked somewhere the com

[2016-07-15 15:28] hartsock commented on #78
Hi folks,

My understanding is that someone else was working this project. I will take the task of following up on this.

Note: I don't expect an answer quickly as most internal VMware folks are working very hard right now in prep for VMworld (myself included). I'll try and grab some key people's attention.

[2016-07-15 15:31] earvidso commented on #78
Understandable re VMworld (good luck!) and very much appreciate your following up!

[2016-07-27 16:24] hartsock commented on #34
I'm pushing this out to the next release unless someone can push a patch for it. Thanks.

[2016-07-29 20:58] jrgarcia commented on #78
RbVmomi is not dead. It's had some setbacks, but it looks like I'll be taking over. I'm the maintainer of [fog-vsphere](https://github.com/fog/fog-vsphere) which relies on RbVmomi, so this project is kind of important to me. I'll be spending as much time as I can next week going through open issues and PRs to see where I can jump in.

[2016-08-02 16:01] earvidso commented on #34
This should be taken care of with #80 having been merged.

[2016-08-03 15:06] jrgarcia commented on #65
Fixed by #66

[2016-08-03 15:06] #65 closed

[2016-08-03 15:07] #78 closed

[2016-08-03 15:09] jrgarcia commented on #79
So we meet again. 😄 I'm going to do a quick glance at all the PRs and issues and handle all the simple stuff now. I assure you I'll come back to this as soon as I've done a first pass.

[2016-08-03 15:11] jrgarcia commented on #73
It needed to be updated, but it has. Unfortunately, the code has not been released yet. This will be fixed in 1.8.3 though. I should be releasing that sometime this week.

[2016-08-03 15:15] jrgarcia commented on #63
@blysik Yes it should. Thanks for reporting!

[2016-08-03 16:31] jrgarcia commented on #13
@charlierudolph I just started maintaining this project and saw that this issue is almost 4 years old. Is this still something I should look into or have you moved on to other things?

[2016-08-03 16:33] jrgarcia commented on #6
@olbrich I just started maintaining this project and was going over issues. This issue is 3+ years old. Is this still something you'd like me to look into?

[2016-08-03 16:34] jrgarcia commented on #2
@jiqiren I just started maintaining this library and noticed this issue is 4+ years old. Is this still something you're having trouble with or can I close this?

[2016-08-03 16:35] jrgarcia commented on #4
@Cindia-blue Hey, I just started maintaining this project and noticed this issue is almost 4 years old. Is this still something you'd like me to look into or is this ok to close?

[2016-08-03 16:40] jrgarcia commented on #5
@nedoshel @mjblack @toobulkeh @surfi2000 I'm going to go ahead and close this issue as it is almost 3 years old, but namespace clashing is an overarching issue throughout this project that I plan on taking a look at this month. Thanks for reporting!

[2016-08-03 16:40] #5 closed

[2016-08-03 16:42] jrgarcia commented on #1
I have doubts that we could get this added there. Closing as this is over 4 years old.

[2016-08-03 16:42] #1 closed

[2016-08-03 16:43] jrgarcia commented on #13
Looking through issues, it appears that namespace clashing is common throughout this project. I'm going to go ahead and close this, but I will be looking at ways to fix these types of issues this month.

[2016-08-03 16:43] #13 closed

[2016-08-03 16:45] #11 closed

[2016-08-03 16:52] #24 closed, assigned to nobody

[2016-08-03 16:53] #44 closed

[2016-08-03 16:59] #59 closed

[2016-08-03 17:50] charlierudolph commented on #13
Doesn't effect me anymore but might be nice if the models could just all be under a namespace to prevent chances of clashing

[2016-08-03 18:12] jiqiren commented on #2
I no longer have access to vsphere - so would not be able to confirm or test any fix. Feel free to close.

[2016-08-03 18:30] jrgarcia commented on #2
@jiqiren Thanks!

[2016-08-03 18:30] #2 closed

[2016-08-03 18:31] jrgarcia commented on #13
@charlierudolph Yeah, I plan on fixing that

[2016-08-04 12:54] howels opened #82 "deploymentOption support in OvfManager"
Please add the deploymentOption value to parameters of DeployOVF, in OvfManager. This currently prevents rbvmomi from deploying useful OVAs like the vCenter Server Appliance (VCSA).

Something like:

/lib/rbvmomi/vim/OvfManager.rb:27
[code]

[2016-08-04 13:18] howels commented on #82
Created pull request https://github.com/vmware/rbvmomi/pull/83

[2016-08-04 14:20] jrgarcia commented on #82
:+1:

[2016-08-04 14:39] howels commented on #82
Apologies if this is a dumb question, but do you know how long this will take to be released in the Gem?

[2016-08-04 14:48] jrgarcia commented on #82
I'm planning on a new release sometime this week (or possibly weekend). Going forward, I'll plan on a new release after every commit (or as close to that as possible).

[2016-08-04 14:48] #82 closed

[2016-08-05 18:59] olbrich commented on #6
@jrgarcia not really, I'm not working with anything remotely related to this these days.

[2016-08-05 21:07] jrgarcia commented on #6
@olbrich Thanks! I haven't had any issues with later versions of JRuby, so I'm going to close this out for now.

[2016-08-05 21:07] #6 closed

[2016-08-18 02:21] jrgarcia commented on #53
This has been done in 05ba1c16f672bb0cb40a30b2bcae26d9e233c092 and c7043198950108d63364b38d190fc067c5818fe4. Closing.

[2016-08-18 02:21] #53 closed

[2016-08-18 02:21] #73 closed

[2016-08-18 02:22] jrgarcia commented on #34
Thanks @earvidso!

[2016-08-18 02:22] #34 closed

[2016-08-18 02:25] #63 closed

[2016-08-18 03:43] jrgarcia commented on #47
Closed by 05ba1c16f672bb0cb40a30b2bcae26d9e233c092

[2016-08-18 03:43] #47 closed

[2016-08-19 14:51] howels commented on #71
Found documentation via main vSphere API docs.

[2016-08-19 14:51] #71 closed

[2016-08-19 14:53] howels commented on #82
Please release a new version of the Gem when you have a minute.

[2016-08-19 14:58] jrgarcia commented on #82
@howels Looking at it right now.

[2016-08-19 15:10] jrgarcia commented on #82
@howels Just released [1.9.0](https://rubygems.org/gems/rbvmomi)

[2016-08-19 18:34] howels opened #86 "Gem install error on 1.9.0"
On a new Ubuntu 16.04.1 install I see the following errors:
[code]

Contents of the log file: /var/lib/gems/2.3.0/extensions/x86_64-linux/2.3.0/rbvmomi-1.9.0/gem_make.out
[code]

[2016-08-19 18:41] howels commented on #82
Thanks, unfortunately I'm seeing errors when installing 1.9.0, logged https://github.com/vmware/rbvmomi/issues/86

[2016-08-19 19:01] howels commented on #86
From what I see so far there is a dependency on Rake 11.2 which isn't stated, and when Rake 10.5 is used the above error is thrown.

[2016-08-19 19:21] jrgarcia commented on #86
@howels Yikes. Ok, thanks for reporting. I'll look into it.

[2016-08-19 19:24] jrgarcia commented on #86
@howels Can you provide the Ruby version and RubyGems version? I'm not able to reproduce.

[2016-08-19 19:35] howels commented on #86
Sure.  I'm using the default Ubuntu docker image. The following docker image will reproduce:

[code]

[2016-08-20 09:28] cdickmann commented on #82
Quick comment: The convenience wrapper is just that: A convenience wrapper. It doesn't prevent a rbvmomi user from the using the full power of the underlying API.

[2016-08-22 07:48] gjngeldenhuis opened #87 "Make this the default repository"
It would be great to see this become the default repository in favour of rlane/rbvmomi. This repository being a fork means it is not as high on the search results when searching in git. People could be forgiven to think that rbvmomi is dead when looking at the source repo which was last updated 5 years ago. Given that at the time rlane was a vmware employee, one would hope that there is some hope

[2016-08-22 13:35] jrgarcia commented on #87
I would love to do this. However, it involves contacting GitHub support and I'm not sure I have the authority to do that for this organization. I'll see what I can do to take care of it though!

[2016-08-22 16:40] jrgarcia commented on #87
I may look into this again in the future, but as of now, this isn't going to be a possibility. Thanks for raising the issue though!

[2016-08-22 16:40] #87 closed

[2016-08-22 18:55] gjngeldenhuis commented on #87
Thanks, maybe rlane could be contacted and convinced to help.

[2016-08-25 01:56] nmaludy commented on #86
I'm having the same issue with the following ruby and rake versions:

# ruby --version
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]

# rake --version
rake, version 10.5.0

[2016-08-25 15:46] jrgarcia commented on #86
I'm working on a fix for this right now. I hope to have it committed and release a new version at some point today.

[2016-08-25 16:30] #86 closed

[2016-08-25 16:34] jrgarcia commented on #86
@howels @nmaludy Can you check to see if v1.9.2 fixes this for you?

[2016-08-25 16:36] nmaludy commented on #86
@jrgarcia yes this works on my end. Thanks!

[2016-08-26 02:40] howels commented on #86
Yes, works for me. Thanks again.

[2016-08-30 08:24] atfujiwara commented on #21
I also met the same problem. So I sent following PR:
https://github.com/vmware/rbvmomi/pull/75

By this change, we can specify the target performance counter including RollupType like 'cpu.usagemhz.averate'. Unfortunately, it's not yet merged. It seems something verification or test is needed. But I don't know what can I do.

Anyway, I created custom gem and am using it. It's looks working well.

[2016-09-07 10:19] crayfishx opened #89 "Can't retrieve configuration property from HostSnmpSystem"
Hi

I'm trying to pull our SNMP configuration (specifically communities) from the API.  The [HostSnmpSystem documentation](https://www.vmware.com/support/developer/vc-sdk/visdk41pubs/ApiReference/index.html) says that there should be a `configuration` property to return a `HostSnmpConfigSpec` object.  I see this exposed by the API but when I try and call it I get a failure saying missing property.

[2016-09-07 10:19] crayfishx commented on #89
I've tested this today against rbvmomi 1.9 and the problem still exists....

[2016-09-07 14:01] jrgarcia commented on #89
I'm unable to look at this right this second, but I'll definitely look at this within 24 hours and get back to you. Thanks for reporting this and all the debugging you did. That helps a lot!

[2016-09-08 17:57] agrare opened #90 "PBM methods are missing from vmodl.db"
Starting with `v1.9.0` all of our PBM calls are failing:
[code]

None of the PBM methods are defined in `vmodl.db` anymore, git bisect points to https://github.com/vmware/rbvmomi/commit/5ed2c41516a066907dc2b807152cf505469dfdca

[code]

It looks like when vmodl.db was updated for 6.0 all SPBM types and methods got dropped.

[2016-09-08 20:26] bergholdt commented on #90
I made PR #91 to allow the vmidl file in yams format so changes are human visible.

I could not find any documentation on how a fresh vmodl.db is made.  So I attached some vmodl from head your bisect and a version where I manual merged the missing methods below _versions: [] (DVS*, Pbm*, etc)

[vmodl.zip](https://github.com/vmware/rbvmomi/files/462603/vmodl.zip)

[2016-09-08 20:31] jrgarcia commented on #90
@agrare Sorry to hear it! Let me take a look at what happened and I'll see what I can do to fix it and hopefully prevent that from happening again. I'm at a conference right now and the Internet connection is not so great so I may not be able to get to this until next week.

[2016-09-08 20:36] agrare commented on #90
Thanks @jrgarcia, its not a rush I was just playing with the newer version so enjoy your conference :smile:

[2016-09-15 12:35] crayfishx commented on #89
@jrgarcia I realize you're busy with other stuff, but did you get a chance to look at this ? -  I don't mind doing some more digging my end but if you've got any feedback or pointers of what this might be it might speed things up a bit ;-)

[2016-09-15 13:30] jrgarcia commented on #89
I apologize @crayfishx. I haven't had a chance yet, but I'm going to make this my top priority today.

[2016-09-15 21:39] jrgarcia commented on #89
I've been looking into this, but I can't recreate it. In one of our test environments I get a `NotAuthenticated` error (I'm still looking into why) and in another environment it works without issue. I'm going to keep looking into this, but unfortunately I do not have anything helpful to offer yet. Any additional info you can give me would be very helpful! I'll keep looking into this tomorrow.

[2016-09-16 14:21] jrgarcia commented on #87
@ggeldenhuis Ask and you shall *(eventually)* receive! This is now the official repository!

[2016-09-16 16:18] ggeldenhuis commented on #87
@jrgarcia fantastic news. Thank you!

[2016-09-29 02:08] devopsguy opened #94 "Issues with sample script"

[2016-09-29 02:15] jrgarcia commented on #94
Which sample script are you referring to? What is the issue with it?

[2016-09-29 02:21] devopsguy commented on #94
JR, I accidentally hit 'submit' before typing anything, apologies.

I've updated my OP with the relevant information, and will update this thread with the exact error messages tomorrow and some better detail on what exactly I've tried to manipulate the hostFolder children tree to return me ClusterComputerResources. I noticed that the rbvmomi/lib/vim/ directory doesnt have a ClusterComputeResource.

[2016-10-03 17:58] devopsguy commented on #94
I've got this resolved now.

2 things:

1) The script does not take into account a vsphere without a top level hostFolder.resourcePool defined. My local env has two ClusterComputeResources defined as children of the top level hostFolder. I had to modify the script to iterate through the hostFolder tree until i got to the specific ClusterComputeResource I had perms to deploy into and then set resou

[2016-10-03 17:59] jrgarcia commented on #94
Thanks for the feedback! I'll definitely look at updating this script to be a bit easier to use.

[2016-10-03 19:37] devopsguy commented on #94
JR, here's my simple nested interation for a specific ClusterComputeResource.resourcePool and a specific child of vmFolder

`vim = VIM.connect opts
dc = vim.serviceInstance.find_datacenter(opts[:datacenter]) or abort "datacenter not found"
vm = dc.find_vm(vm_source) or abort "VM not found"

dc.hostFolder.children.each do |f|
  if f.name == "My Compute Cluster as shown in vCenter"
    relocateSpec

[2016-10-03 19:38] jrgarcia commented on #94
Thanks for that!

[2016-10-07 21:12] #90 closed

[2016-12-09 18:19] warroyo opened #97 "which permissions needed for `datatstore.exists`"
I am running into an issue using the `datatsore.exists?` https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/Datastore.rb#L9

I am constantly getting 401 unauthorized errors even though i have admin permissions on the datastore i am trying to access. When my permissions are switched to administrator at the DC level i ma able to get past the error, however it is not an option to have full

[2016-12-09 18:20] jrgarcia commented on #97
I'm not certain. I'll check into it and get back with you as soon as I can.

[2016-12-09 19:45] jrgarcia commented on #97
Looks like both `Datastore -> Low level file operations` and `Datastore -> Browse datastore` privileges are needed for that.

[2016-12-09 19:45] #97 closed

[2016-12-09 21:41] warroyo commented on #97
@jrgarcia are these needed on all datastores in the DC for this to work? We have a nested folder structure and I have admin on the datastore and folder that I am trying to access however I still get a 401.

for example this url returns a file browser when i have full admin to the DC , but a 401 when i have admin to the datastore only

`https://my-vsphere.com/folder/myfiles?dcPath=MYDC&dsName=MYDAT

[2017-01-12 20:40] smlsml opened #98 "Relax nokogiri gem dependency so 1.6/1.7 can be used"
Hi, I'm trying to upgrade rbvmomi from 1.6 to 1.9.4, but I can't because our app is using the newest version of Nokogiri. Is there any specific reason 1.5 is pinned?

Bundler could not find compatible versions for gem "nokogiri":
  In Gemfile:
    nokogiri (~> 1.6.8)

    rbvmomi (~> 1.9.0) was resolved to 1.9.0, which depends on
      nokogiri (~> 1.5.11)

[2017-01-12 20:43] smlsml opened #99 "Relax builder dependency so Rails 3.2.x can be used"
We (AppVolumes) use rbvmomi 1.6 in our 5 year old Rails 3.2.x application. I'd like to upgrade to rbvmomi 1.9 but there is a gem dependency problem with the builder gem.

[code]

So I get this error:

[code]

Does rbvmomi 1.9.x absolutely depend on builder > 3.2?

Could this be relaxed to builder "~> 3.0" which would allow any "3.x" ?

[2017-01-12 20:45] jrgarcia commented on #98
It's pinned to `~> 1.5` [here](https://github.com/vmware/rbvmomi/blob/master/rbvmomi.gemspec#L20) which should allow using anything >= 1.5 and < 2.0. I'm not sure why you're having that issue. How are you going about trying to upgrade `rbvmomi`?

[2017-01-12 20:49] smlsml commented on #98
Hum, I see. I was under the impression "~> 1.5" would allow "1.x" too.

I'm just doing: "bundle update rbvmomi" after I've set the version in our Gemfile to "gem 'rbvmomi', '~> 1.9.0'"

Let me set that to 1.9.4 just to be sure and try again.

[2017-01-12 20:52] smlsml commented on #98
I see that in 1.9.0 that it was pinned to "~> 1.5.11"

https://github.com/vmware/rbvmomi/blob/cd942ec1f0d08dd76a98ba583b7906f15b4f17f4/rbvmomi.gemspec

Putting this in the Gemfile instead of "~> 1.9.0" worked (which is a tiny bit strange):

`gem 'rbvmomi', '~> 1.9.4'`

Thanks for the quick reply!

[2017-01-12 20:52] #98 closed

[2017-01-12 20:53] jrgarcia commented on #99
I'm not sure whether that would break it or not. Let me test it with lower versions of `builder`. If it runs ok, I have no problems relaxing that version.

[2017-02-09 08:57] MiloCheung commented on #43
hi @asaenz and @alexfear , do you have any idea for this problem? or any hints to patch the gem to solve this problem? thanks!

[2017-02-17 08:45] MiloCheung commented on #43
hi @jrgarcia , do you have time take a look? I have no idea why the "selectedVnic" does not return a array of string. It only return a array of "HostVirtualNic" object, but this object doesn't include any info on it. Thanks!

[2017-02-17 14:34] jrgarcia commented on #43
@MiloCheung I'll do my best to take a look today, but it may have to wait until Monday. I'll keep you updated.

[2017-03-01 23:05] #99 closed

[2017-03-01 23:08] jrgarcia commented on #89
@crayfishx Are you still having this issue? I was still wasn't ever able to recreate this.

[2017-03-01 23:10] jrgarcia commented on #79
@finkelamein Sorry it took so long to get back to you. Is this still an issue? If so, I can take a look again. Just let me know whether I should close this or investigate. Thanks!

[2017-03-01 23:11] jrgarcia commented on #72
@balasankarc I doubt this is still an issue, but if it is, I'd say skip it. I think it's just meant as a showcase for the Trollop integration from RbVmomi. If this isn't an issue any longer, would you mind closing this? Thanks!

[2017-03-02 01:24] #72 closed

[2017-03-02 01:24] jrgarcia commented on #72
Thanks, @balasankarc!

[2017-03-02 08:14] ripienaar opened #101 "vim.close does not logout successfully"
Vim#close attempts to log out of vmware to avoid stale sessions but this does not work:

[code]

one session got leaked, on investigation by running the same command as close but without squashing errors I found:

[code]

With debug enabled it appears the logout is sending the wrong identifier

when logging in:
[code]

note the `ha-sessionmgr`

when logging out via close:

[code]

Note its sending

[2017-03-02 10:03] finkelamein commented on #79
Hi, I'd guess it's still an issue, but I switched jobs since then, and I
can't test this anymore for lack of both foreman and VMware farm.

Feel free to do with this as you want

On Mar 2, 2017 00:10, "J.R. Garcia" <notifications@github.com> wrote:

[2017-03-02 12:48] jrgarcia commented on #101
Thanks for reporting this! I'll look into this today and make sure there is a fix in as soon possible.

[2017-03-02 16:59] kaushalgala commented on #101
Thanks @jrgarcia.  Looking for a fix soon :)

[2017-03-02 20:00] #101 closed

[2017-03-02 20:01] jrgarcia commented on #101
@kaushalgala @ripienaar I'm releasing a new version with the fix right now. Let me know if this fixes the issue for you.

[2017-03-02 21:21] kaushalgala commented on #101
thanks @jrgarcia I looked at the commit and looks good. Waiting for new gem version

[2017-03-02 21:23] jrgarcia commented on #101
@kaushalgala It's available: https://rubygems.org/gems/rbvmomi/versions/1.9.5

[2017-03-02 21:24] kaushalgala commented on #101
thanks @jrgarcia

[2017-03-03 09:21] ripienaar commented on #101
confirmed working, thanks @jrgarcia

[2017-03-17 15:03] #89 closed

[2017-03-17 15:05] jrgarcia commented on #89
I couldn't recreate this on any of the test systems that I have. If you are still having this issue, please reopen the issue with any updated details you may have. I don't really want to close this issue without some sort of resolution, but I can't recreate this regardless of the configuration I have.

[2017-03-17 16:32] #68 closed

[2017-03-20 07:38] Bindong18 opened #103 "Deploy ovf"
Is there some api for  Deploying ovf/

[2017-03-21 16:39] jrgarcia commented on #103
Here is an [example](https://github.com/vmware/rbvmomi/blob/master/examples/cached_ovf_deploy.rb) of doing that and the class being used has [documentation](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/utils/deploy.rb#L8-L39). That is for the `CachedOvfDeployer`. There is also the [`OvfManager`](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/OvfManager.rb) and the full

[2017-03-23 21:11] #103 closed

[2017-03-27 09:38] Bindong18 opened #104 "Uncaught exception: file too big for single read"
I encountered the following issue when reading the content of .OVA file “test.ova” (its size is 2.1GB).
Uncaught exception: file too big for single read
e:/RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/rbvmomi-1.10.0/lib/rbvmomi/vim/OvfManager.rb:43:in `read'
e:/RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/rbvmomi-1.10.0/lib/rbvmomi/vim/OvfManager.rb:43:in `deployOVF'

My sample code is a

[2017-03-30 02:16] Bindong18 commented on #104
Hi ,

Could you pls. tell me if there is any update?

Thank you very much

[2017-03-30 04:50] jrgarcia commented on #104
@Bindong18 Unfortunately, I haven't been able to track this down. What version of Windows are you using? From the looks of it, you installed Ruby via the Rails Installer. Is that the case?

[2017-03-30 08:38] Bindong18 commented on #104
@jrgarcia windows: win2008r2 ,Yes Rails Installer3.3.0

[2017-03-30 16:37] jrgarcia commented on #104
So it looks like this is an issue with reading large files with Ruby. You can see [here](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/OvfManager.rb#L43) where we call `.read`. Ruby can't handle reading a file of that size in that way. I'll look at changing this for reading large files, but I probably won't be able to modify that this week (I'm traveling right now).

[2017-03-30 17:28] bergholdt commented on #104
If you are using 32bit then you have a limit of 2GB (https://en.wikipedia.org/wiki/2_GB_limit)

Could you check if your Ruby is 32 or 64 bit.

[2017-03-31 02:53] Bindong18 commented on #104
@bergholdt
 C:\Users\administrator>ruby -v
ruby 2.3.3p222 (2016-11-21 revision 56859) [i386-mingw32]

C:\Users\administrator>irb
irb(main):001:0> ['foo'].pack('p').size
=> 4

[2017-03-31 03:24] jrgarcia commented on #104
@Bindong18 Yeah, it looks like you have a 32-bit version of Ruby installed (i386-mingw32). This means there is no way to read a file that large. When I get a chance, I'll test to see if there is a way to stream this rather than just reading it that will work, but this will never work with 32-bit.

[2017-04-03 17:56] #67 closed

[2017-04-05 06:26] Bindong18 commented on #104
@jrgarcia
@bergholdt
I changed ruby to 64bit, but still got the same error:

Uncaught exception: file too big for single read
	C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/rbvmomi-1.10.0/lib/rbvmomi/vim/OvfManager.rb:43:in `read'
	C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/rbvmomi-1.10.0/lib/rbvmomi/vim/OvfManager.rb:43:in `deployOVF'

C:\Users\administrator.CRE3>ruby -v
ruby 2.3.3p222 (2016-11-21 revision

[2017-04-05 16:22] jrgarcia commented on #104
@Bindong18 can you output `['foo'].pack('p').size` again? If it's 8, then there isn't a problem with the OS. If it's 4, Ruby is still somehow installed as 32-bit. Aside from that, I'm guessing the problem is just that Ruby itself can not read a file that large. I can change the implementation from the stdlib `File#read`, but I'll need to test it quite a bit to ensure I don't break anything that wo

[2017-04-05 20:01] harisez opened #105 "Allow passing an OpId in the request made"
Need a way to set the OpId in a request made using rbvmomi so that the request flow of execution can be traced across the different services in VC / ESXi.

[2017-04-05 20:07] jrgarcia commented on #105
I have a fix for this. I'll release a new version this afternoon. Thanks for reporting!

[2017-04-05 20:11] #105 closed

[2017-04-05 20:13] jrgarcia commented on #105
This has been released in rbvmomi 1.11.0. The released version is now available from [RubyGems](https://rubygems.org/gems/rbvmomi/versions/1.11.0).

[2017-04-05 20:22] harisez commented on #105
Wow! That was quick :)

[2017-04-06 08:17] Bindong18 commented on #104
@jrgarcia

C:\Users\administrator.CRE3>irb
irb(main):001:0>  ['foo'].pack('p').size
=> 8
irb(main):002:0>

[2017-04-06 12:50] jrgarcia commented on #104
Ok, so the problem then is that Ruby's `File#read` can't read files that large. I'll look at changing to something that can handle large files.

[2017-04-07 03:22] Bindong18 commented on #104
@jrgarcia
Thank you very much

[2017-04-14 11:06] petericebear opened #106 "How to set the cpu cores per socket"
Hi,

I can find to set the number of cpu's for creating/clonen a vm.
Any idea how to set 1 socket with 4 cores? Instead of 4 sockets with one core?

This happens when I set the number of CPU's of 4.

Greetings,
Peter

[2017-04-14 14:09] jrgarcia commented on #106
The number of CPUs (`numCPUs`) is the number of sockets. There is another property (`numCoresPerSocket`) that you can use to set the number of cores. It sounds like you would want to set `numCPUs: 1` and `numCoresPerSocket: 4`.

I'm going to close this assuming it answered your question. If this answer isn't what you were looking for, please re-open this and we'll work through getting you what you

[2017-04-14 14:09] #106 closed

[2017-04-14 14:11] jrgarcia commented on #106
Also, just so you know where I found that answer, it's in the official vSphere SDK documentation [here](http://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.ConfigSpec.html).

[2017-04-18 07:38] petericebear commented on #106
This was it indeed. For other people this was the solution:
numCPUs: 4 and numCoresPerSocket: 4

Then it will use 1 socket.

[2017-04-27 17:12] lomeroe opened #107 "Unable to connect to vSphere 6 vCenter from Windows"
This may not be the correct spot for this, so I apologize in advance, but I wanted to document it somewhere, so that any other poor souls that have this issue like I did may be able work around it.

First off, I did not have this issue until upgrading vCenter to v6 (I'd also venture a guess that if I went back to a version of 6 that had sslv2/3 enabled (pre update 1?), the issue would also go away

[2017-04-27 17:15] jrgarcia commented on #107
Thanks for opening this issue! I'll certainly look into this. I'm not sure why exactly this is happening on Windows (and not Linux (and probably macOS)), but I'll see what I can figure out. If all else fails, I can check for specific versions of vCenter and Windows (though it would be better to have a fix that wasn't OS or version specific). Thanks again for reporting!

[2017-04-28 06:18] fish1928 opened #108 "VirtualMachine.network was overrided and doesn't was as described in vSphere Doc"
The getter method for VirtualMachine.instance.network was override in lib/rbvmomi/vim/VirtualMachine.rb:11, which returns a Hash.

This return value was not correct according to vSphere API Doc 6.5, the network method should return Network[].

[code]

In vSphere Doc:
network* P	ManagedObjectReference[] to a Network[]
A collection of references to the subset of network objects in the datacenter tha

[2017-04-28 19:21] jrgarcia commented on #108
You're right. This should not have been overridden. I'll remove this code and release a new version of rbvmomi today. Thanks for reporting this!

[2017-04-28 19:30] #108 closed

[2017-04-28 19:34] jrgarcia commented on #108
@fish1928 I've just released 1.11.2 with this method removed so that it adheres to the public web service API. Sorry for the mix up!

[2017-05-02 17:30] Brunzer opened #110 "Folder create on #traverse only creates Parent (not recursive?)"
I'm trying to use the traverse method for folders to create a new Folder path within a DC. The top level folder gets created just fine but it doesn't follow through to create the children that I have specified.

My Code:
[code]

This code creates the "Parent" folder, but seems to ignore the "Child" folder in the path supplied.

Version of rbvmomi is 1.11.2, version of vsphere is 6.0.0

[2017-05-02 17:32] jrgarcia commented on #110
Not sure​ about this. I'll take a look and see what I can find. Thanks for reporting!

[2017-05-02 18:10] Brunzer commented on #110
Seems like it might just not be creating the leaf folder. I attempted changing the path to 'Parent/Child/Offspring' and both Parent and Child folders were created, but not Offspring.

[2017-05-05 11:31] ProdubanEs opened #111 "StartProgramInGuest Fails connecting to VM with updated tools"
Hello.
We are having problems using rbvmomi function (StartProgramInGuest) to run simple commands on an VM, the problems occur after updating the version of VMwareTools. It is happening only on Windows guests.

When we use this method with older version of the tools everything works correctly, but afterwards we get an "Invalid Argument" error.

Here is the code we are using:

When we use the scrip

[2017-05-05 16:39] alv000h commented on #111
+1

[2017-05-05 17:35] jrgarcia commented on #111
I'm sorry to hear that caused an error! Unfortunately, that command is doing nothing more than making a SOAP call. There isn't anything rbvmomi can do to prevent this. I'll see if I can find someone that can answer why that may be happening, but I can't imagine this being fixed from within rbvmomi.

[2017-05-11 16:09] jrgarcia commented on #111
It appears this may be an issue in VMware Tools and there isn't anything we can do on the RbVmomi side to handle this. Hopefully, there will be a fix for this soon and this won't be a problem for you anymore. I'm going to go ahead and close this since we can't do anything on our end. Thanks for reporting!

[2017-05-11 16:09] #111 closed

[2017-05-12 08:39] fish1928 commented on #108
Thanks!

[2017-05-16 15:45] alv000h commented on #111
There is a workaround, it should work if you define username like this :
username: "WINDOWS_hostname\User",

PD.- change WINDOWS_hostname for the real windows configured hostname as per needed.

[2017-05-25 14:12] agrare opened #113 "Cannot connect to PBM after v1.10.0"
Running a simple script to connect to PBM fails after `v1.10.0` with the following error:
`lib/rbvmomi/connection.rb:262:in `method_missing': undefined method `PbmServiceInstance' for RbVmomi::VIM:Class (NoMethodError)`

Using this [test script](https://gist.github.com/agrare/f1aa3444ce54105eaaefe367448b5daf) reproduction steps are:
[code]

Bisect points to 34a754ceb85db8b6f43e1af6f6771bd97f4fe037

[2017-05-29 13:40] Brunzer commented on #110
I found out why the leaf folder isn't being created, though I'm not sure what the best approach (if any) would be for a patch.

In the traverse method, the path is split into an array and then the last object is popped off (the leaf folder in my case). The original path/array is then created successfully as we already know.

The problem comes in the next section in the if statements. In order to c

[2017-05-30 14:05] jrgarcia commented on #110
Sorry, I never mentioned it. I found the issue to this (the same as you). My concern with changing this is changing how others use this. If people previously used this to create all folders up to the last, then this would be a breaking change. Let me think think on this for a day. I'll make a change either today or tomorrow. Thanks!

[2017-06-27 04:01] jrgarcia commented on #113
I apologize that it took me so long to get to this! Can you test from the [fix-113](https://github.com/vmware/rbvmomi/tree/fix-113) branch and see if that fixes the issue for you?

[2017-06-27 13:45] agrare commented on #113
Hey, no problem at all.  Yes that fixes the issue for me.

[2017-06-27 13:48] #113 closed

[2017-06-27 13:48] agrare commented on #113
Thanks @jrgarcia !

[2017-06-27 13:51] jrgarcia commented on #113
I just released v1.11.3 with this fix so you can update your Gem rather than pulling in a branch from Git.

[2017-07-06 17:44] blysik opened #115 "support vsphere 6.5 rest api?"
Should this gem be converting to the rest API if the vsphere instance supports it?

[2017-07-06 17:47] jrgarcia commented on #115
There are already efforts to do that though it won't be in RbVmomi. There is the vSphere Automation SDK that will handle this. The Ruby vSphere Automation SDK will be open-sourced in the near future (the .NET, Java, Perl, Python, and REST ones have already been open-sourced).

[2017-07-06 17:47] #115 closed

[2017-07-16 07:22] bararchy opened #116 "Cann't access Datastore"
I'm using this check:
[code]
And I receive a `nil` in return.

When trying to call
[code]
I get a method not defined.

[2017-07-16 07:42] bararchy commented on #116
Further playing around got me the answer:
[code]

[2017-07-16 07:42] #116 closed

[2017-07-28 15:06] swalberg opened #117 "Can't find a VM in a folder"
I'm trying to use the index to find a VM by its name in vsphere (as opposed to anything reported by the agent) rather than the current method of recursively finding all VMs and comparing the name.

`dc.vmFolder.find('foo')` seems to work as long as the object is in the root and not a folder. However the other `find` methods don't seem to care.

[code]

[2017-08-01 14:37] jrgarcia commented on #117
It looks like `find` makes a call to `FindChild` method on the `SearchIndex` managed object in the SOAP API. The `FindChild` method states that it

If you're expecting `find` to be recursive (which honestly, I would have expected too), it's not. I'm not sure about `find_vm`, I'll have to look into that. At any rate, if these are intentionally not recursive or able to be easily changed to be, I'll

[2017-08-01 14:57] swalberg commented on #117
Hm, yea that is odd. Are there other APIs I could be missing? Such as to resolve a name to a UUID then do the recursive search on UUID?

[2017-08-01 15:00] sdorsett commented on #117
this has been an issue for a while. I've seen other users of rbvmomi use helper methods like this:
https://github.com/MarkArbogast/vsphere-helper/blob/master/lib/vsphere_helper/helpers.rb#L51-#L68
...which would allow you do this:
[code]

[2017-08-01 15:03] jrgarcia commented on #117
@swalberg I will _definitely_ be adding this functionality, but it probably won't be this week. If you need this functionality really soon, I'd suggest doing what @sdorsett mentioned ☝️ for now. At least until I can add this functionality. It's a bummer that this is the case, but it's the best I can offer at the moment.

[2017-08-01 15:04] sdorsett commented on #117
the other way I've seen this done is to use a view to perform the search since it has a `recursive` flag:
[code]

[2017-08-01 15:05] swalberg commented on #117
@sdorsett yea we're doing something [close to that](https://github.com/chef-partners/knife-vsphere/blob/c2d82f062c1e7008adae386b32498002439b963b/lib/chef/knife/base_vsphere_command.rb#L141-L152) right now and the problem is that it's really slow. Can take a minute or more in one of our DCs vs seconds when we use the index.

I will look at that search that @sdorsett just mentioned...

[2017-08-01 15:12] jrgarcia commented on #117
@swalberg Thanks for adding that that is slow. I'll make sure to consider that when evaluating possible solutions to this.

[2017-08-01 15:30] swalberg commented on #117
Just did a quick test of the `ContainerView` and it's not any faster than what we have now. I think the problem is that the view returns all the objects for Ruby to search through and the `find*` do the filtering on the server.

[2017-08-01 18:54] sdorsett commented on #117
I talked to a coworker that has done some tweaking of our rbvmomi based auditing scripts and he recommended maybe trying something like this to filter what is being returned with the vm objects:
[code]

[2017-08-01 18:57] sdorsett commented on #117
if you look at the returned vm object it will only contain a 'name' property:
[code]
...but you can still call any typical methods by adding .obj to this object:
[code]

[2017-08-04 08:25] otwieracz opened #118 "Timeout during template clone"
While trying to clone template to VM using `vagrant-vsphere` I am running into timeout error after 5 minutes:

[code]

The issue is also described here:
https://github.com/nsidc/vagrant-vsphere/issues/106

Seems like in my case, on OVH Private Cloude (vSphere 6), timeout is more or less after 5min:

[code]

[2017-08-14 07:16] otwieracz commented on #118
`vagrant-vsphere` uses `.wait_for_completion`which timeouts on the vSphere side.

[2017-08-18 03:24] jnewbigin opened #119 "Datastore upload and download is inefficient"
http://www.virtuallyghetto.com/2014/06/how-to-efficiently-transfer-files-to-datastore-in-vcenter-using-the-vsphere-api.html summarises the problem.
I have implemented the so called efficient mode in knife-vsphere but it seems like it belongs here in RbVmomi::VIM::Datastore
If you are interested I can re-factor my change and open a pr here.

[2017-08-18 16:35] jrgarcia commented on #119
I'll never turn down a PR that improves efficiency! Feel free to open! 👍

[2017-08-22 18:11] otwieracz commented on #118
What I can suggest is to, instead of `.wait_for_completion`, ask every a while if the VM is already cloned.

[2017-08-22 19:18] jrgarcia commented on #118
I'm not sure there is much I can do about this from the rbvmomi side. What you mentioned should work. You can increase the timeout for rbvmomi, but if the provider is where the timeout is occurring, I'm not sure what I could offer.

[2017-09-01 22:29] dandunckelman opened #120 "Is there a way to run "Invoke-VMScript"?"
I'm looking to replace a PowerCLI script I have with this and can't figure out how to run this (if possible).

https://www.vmware.com/support/developer/PowerCLI/PowerCLI65R1/html/Invoke-VMScript.html

Thanks

[2017-09-05 14:26] jrgarcia commented on #120
Are you trying to run this script on the creation of a new VM or on an existing VM?

[2017-09-05 16:04] dandunckelman commented on #120
@jrgarcia existing VM.

[2017-09-26 13:24] swalberg commented on #117
Sorry I dropped the ball on this one... Playing around with it now and filtering the properties doesn't seem to help at all.

Some co-workers who use powershell say that `get-vm -name myvm` is really fast, I wonder how they do it?

[2017-09-26 14:13] jrgarcia commented on #117
Thanks for the update. I'll see if I can find someone on the PowerCLI team that may have a few pointers on possible issues.

[2017-09-29 23:51] rd0-7 opened #121 "Port selection of Virtual VCenter 5.5 and the rbvmomi library not flexible."
This is a major pain in the neck  when installing on any server grade machine . Since , port 80, 443 are very popular ports ,  there is invariably some service running on these .

Hence , the end-users natural inclinations is to choose alternative ports for the Vcenter API end-point .
Once , the installation (Clean Install or Fresh ) finishes  the attempts to connect via "rbvmomi" keep failing.
In

[2017-09-30 00:01] jrgarcia commented on #121
[code]
That actually is a common Ruby pattern that says if `opts[:port]` is not set, set it to the part after the `||=`. If `opts[:port]` is set, the assignment never happens. You can pass this in as an option when you connect. For example, to connect on port `8443`, you would do

[code]

[2017-09-30 00:01] #121 closed

[2017-09-30 00:24] rd0-7 commented on #121
Cool that means , the vagrant layer calling this "rbvmomi" should be flexible to reset the ports.

[2017-09-30 00:24] rd0-7 commented on #121
Thanks.

[2017-09-30 00:26] jrgarcia commented on #121
Yeah, I'm guessing you can override it somewhere. If you can't find it, let me know what you are using and I'll see if I can find it for you.

[2017-11-02 16:51] jameswnl opened #123 "Tagging support"
Is there any plan to include Tagging support?

Code to support Tagging is https://github.com/vmware/vsphere-automation-sdk-ruby, but that is not published as gem.

Also, it'd be nice to be included here as this would serve as a common module for most common vsphere interactions.

[2017-11-02 17:22] jameswnl commented on #123
@agrare fyi...

[2017-11-02 21:59] jrgarcia commented on #123
@jameswnl We will be releasing a Gem for the Automation SDK soon. I can't give an exact date, but it should be pretty soon.

[2017-11-02 22:16] jameswnl commented on #123
@jrgarcia Thanks for the update.

How about any thought on having the tagging support in rbvmomi?

[2017-11-02 23:28] agrare commented on #123
Hey thanks @jrgarcia a released gem for that would be great.

We had a few issues using vsphere-automation-sdk-ruby as a gem, specifically SSO and LookupService were in samples and not available from the gem so these would have to be reimplemented (aka copied :wink:) by the calling code.

We weren't sure if since at least lookupservice was a wsdl and possibly SSO could be added to RbVmomi, and pos

[2017-11-21 03:07] nmaludy opened #125 "Unable to utilize an properties on a HostSnmpSystem object"
[code]

This raises the following exception:

[code]

According to the documentation here: https://code.vmware.com/doc/preview?id=4206#/doc/vim.host.SnmpSystem.html i should be able to access the `configuration` and `limits` properties.

[2017-11-21 13:02] nmaludy commented on #125
Did a little debugging this morning based on the stacktrace above.

Here is the JSON for the `ret` variable returned in `rbvmomi/basic_types.ManagedObject::_get_property()`

[code]

So, it looks like vSphere is returning a bad response for the PropertyCollector RetrieveProperties query that is being sent.

[2017-11-21 13:07] nmaludy commented on #125
Here is the SOAP that is being sent:
[code]

And the response that is being received:

[code]

[2017-11-21 13:15] nmaludy commented on #125
Looks like this is related to #89  @crayfishx  @jrgarcia

[2017-11-21 14:29] jrgarcia commented on #125
I wasn't ever able to recreate #89, but I'll see if your debugging helps uncover something. I'll try and get to it this week, but I'm somewhat limited with holiday time. Thanks for reporting and the debugging info, @nmaludy!

[2017-11-21 14:29] nmaludy commented on #125
FYI, not sure why but if i point rbvmomi directly at the ESX host and run the exact same code, it works just fine. For some reason pointing at vSphere fails.

[code]

[code]

[2017-11-21 14:31] jrgarcia commented on #125
🤔  Interesting. I'm sure that has something to do with it. I'll definitely see what I can find out about that. Thanks!

[2017-11-23 06:24] jarretlavallee opened #126 "Datacenter find_compute_resource does not traverse Host and Cluster folders"
When using the find_compute_resource method on a datacenter object, it will not search into a hosts and clusters folder for the compute resource. The result is that the compute resource is not found. Below is a very basic reproduction use case.

Given the structure below, we expect that we should be able to find the "Nested Cluster" when searching on the "Top Level Datacenter" like below.

![hosts

[2017-11-29 16:54] klevron1 commented on #120
You can replicate what PowerCLI does using the guestOperationsManager APIs.
https://code.vmware.com/doc/preview?id=4206#/doc/vim.vm.guest.GuestOperationsManager.html

If you use Onyx to capture what PowerCLI is doing, you'll see it's using the guestOps APIs to run the command and capture the output to a temp file in the guest, then uses guestFileManager to retrieve the file from the guest and retu

[2017-11-29 17:21] klevron1 opened #127 "esxcli calls no longer work"
I received the following error when attempting to use the 'esxcli' call on a host.
[code]

Here's a test script:
[code]
Expected response (with rbvmomi 1.9.5)
[code]

Received response (with rbvmomi 1.11.3)
[code]

[2017-11-29 19:30] aimers1975 commented on #127
Experiencing the same issue....

[2017-11-30 13:08] solohan83 commented on #117
Hi,

Do we know if we plan to have a fix for this?

I have tried to use the helper, but it is not returning the VM I am looking for.

[2017-12-01 10:39] AranVinkItility commented on #126
Also have this issue in my own test setup, using rbvmomi 1.11.3

[2017-12-04 19:17] aimers1975 commented on #127
@jrgarcia Any update on this issue?

[2017-12-04 19:20] jrgarcia commented on #127
Unfortunately, I haven't had a chance to look into this issue yet. I'll take a look at it today and see if I can find out what's happening.

[2017-12-05 06:40] jrgarcia commented on #127
@aimers1975 @klevron1 This should be fixed with 1.11.4. Sorry that took so long to get taken care of!

[2017-12-05 22:43] michael-brandt-cu commented on #127
@jrgarcia with rbvmomi v1.11.4, I got this error output when attempting to bring up a VM with [vagrant-vsphere](github.com/nsidc/vagrant-vsphere):

[code]

We are still on vSphere 5; based on [the one spot in the VMWare docs where I found a reference to "resourceAllocation"](https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc

[2017-12-05 22:46] jrgarcia commented on #127
@michael-brandt-cu Thanks for reporting. I'll take a look.

[2017-12-06 07:26] #127 closed

[2017-12-06 07:29] jrgarcia commented on #127
@michael-brandt-cu I just released v1.11.5 which should fix this. Let me know if this fixes things for you. Sorry about that!

[2017-12-06 16:15] michael-brandt-cu commented on #127
@jrgarcia Looks like v1.11.5 works, thanks!

[2017-12-22 05:43] kraskoshnyy opened #128 "Add new disk?"
Is there any way to add a new disk to vm with rbvmomi?
Thanks

[2018-01-03 17:55] jrgarcia commented on #128
Sorry I'm just getting to this! I've been out for a few weeks. Yes, you can add a new disk. I don't see an example to do that so I'll plan to add one, but the functionality is there. Almost all of the calls you would make match the vSphere web services documentation [here](https://vdc-download.vmware.com/vmwb-repository/dcr-public/6b586ed2-655c-49d9-9029-bc416323cb22/fa0b429a-a695-4c11-b7d2-2cbc28

[2018-01-05 13:04] yrmallu opened #129 "Module 'Disk' power on failed"
Failed to lock the fail

An error was received from the ESX host while powering on VM Windiws_mysql-233432.

Failed to start the virtual machine

Module 'Disk' power on failed

cannot open disk 'vmfs/volumes/5eas7fada67/Windows2012/Windows2012.vmdk' or one of the scanpshot disks it depends on

While cloning windows instance it's allocating same disk for all. Please let me know how to fix this issu

[2018-01-05 15:43] darkarnium opened #130 "CloneVM_Task - 'Single property sharing provided multiple times'"
## Synopsis

The `vmodl.db` from current master (`462126e`) appears to have a duplicate 'sharing' attribute on the `VirtualDiskFlatVer2BackingInfo` object. This breaks cloning virtual machines through the vSphere API in both `vsphere-fog` and `rbvmomi` when running against vSphere 6.5 (and potentially other revisions). This patch removes this duplicate definition as it does not appear in the API W

[2018-01-08 08:12] kraskoshnyy commented on #128
Yeah, already figured out. Thanks!

[2018-01-08 15:36] jrgarcia commented on #128
Sorry about not getting back sooner! I'm going to go ahead an close this, but hopefully spend some more time getting some samples created. Thanks for letting me know you got it figured out!

[2018-01-08 15:36] #128 closed

[2018-01-11 00:31] braydensterrett opened #132 "InvalidRequest: Unexpected element tag "folder" seen"
I'm seeing an interesting difference between version 1.11.2 and 1.11.6 where the `folder` element of the vim.vm.RelocateSpec specification is being called unexpected.

Here is the error that I am getting when running on 1.11.6

![screen shot 2018-01-10 at 6 27 48 pm](https://user-images.githubusercontent.com/7805772/34802585-fefacd34-f633-11e7-8bc9-557492964b92.png)

Here is the `spec` argument th

[2018-02-12 18:32] bp85 opened #133 "Failed listing datacenters after upgrading vsphere to 6.5"
Hi,
I'm unable to load datacenters with permissions error
I was able to load datacenters in Vsphere 5.5, but after upgrading to 6.5 it's broken

Here's the error
[code]

[2018-02-27 16:40] warroyo commented on #130
any updates on this??

[2018-02-28 15:36] akostadinov commented on #123
So will vsphere-automation-sdk-ruby supersede rbvmomy? Any news on official gem release?

[2018-02-28 16:33] agrare commented on #133
@bp85 it looks like that is getting the `overallStatus` [[ref]](https://github.com/fog/fog-vsphere/blob/bdc636c62adaa02267a084d2efa0690134870aaf/lib/fog/vsphere/requests/compute/list_datacenters.rb#L11) for the Datacenter which doesn't require any extra privileges per the [SDK Docs](https://code.vmware.com/apis/196/vsphere#/doc/vim.ManagedEntity.html).

Does your user have at least read-only privi

[2018-02-28 19:20] jrgarcia commented on #123
@akostadinov I wouldn't say __"supersede"__ _just yet_. I believe eventually it will, but the management API provides functionality that doesn't yet exist in the REST API. That won't be the case in the future.

@agrare I am sorry I didn't respond sooner (whew, that was quite a while ago). I must've missed your message. The vSphere Automation SDK and vCloud Suite SDK are two different, but similar

[2018-02-28 19:20] #123 closed

[2018-02-28 19:22] jrgarcia commented on #123
Oh, and I never answered the question about an official Gem release. We are planning on doing that right now, but there are a few things that need to happen before we do that. I understand that it is inconvenient (especially for Ruby developers), but there really are some things that need to happen before we can do that.

[2018-02-28 19:24] jrgarcia commented on #133
Thanks @agrare for responding! @bp85 Let me know if you get the same issue with the code @agrare posted above.

[2018-02-28 19:25] jrgarcia commented on #132
I'll look into this. If 1.11.2 is working, I'd suggest staying on it for now. I'll let you know as soon as I find anything.

[2018-02-28 19:27] jrgarcia commented on #130
Sorry I haven't responded sooner. I'm going to take a look at #131 today (which should fix this).

[2018-02-28 19:30] braydensterrett commented on #132
Thanks for taking a look. Please let me know if you need any more info from me.

[2018-02-28 19:32] jrgarcia commented on #132
I'm pretty confident that #131 will fix this for you. I'm testing it right now and if it's good, I'll merge it and have you test it to see if it works for you.

[2018-02-28 19:33] braydensterrett commented on #132
Sure, let me know.

[2018-02-28 20:01] jrgarcia commented on #130
I just merged #131 after testing it. I'm going to go ahead and close this and push out a new gem.

[2018-02-28 20:01] #130 closed

[2018-02-28 20:05] jrgarcia commented on #132
I just pushed out 1.11.7 with the fix from #131. Let me know if that fixes the issue for you!

[2018-03-01 18:25] akostadinov opened #134 "support cadir connection option"
Hi, it is a common capability to let user specify `cadir` of `cafile` option for securely connecting to a remote ssl server. Please support such option. Updating system CA store on different machines where scripts would be run is not always feasible.

[2018-03-01 18:27] jrgarcia commented on #134
I'll see if I can get that done sometime this week.

[2018-03-05 14:53] jrgarcia commented on #132
Hey @braydensterrett, I'm pretty sure the latest version should fix your issue. I'm going to go ahead an close this out, but please do reopen this issue if this problem is still occurring after upgrading to 1.11.7. Thanks!

[2018-03-08 18:43] bp85 commented on #133
@agrare, I get the datacenter name with the above code

[2018-03-14 15:50] bp85 commented on #133
@agrare , I think the issue is with `overallStatus`, can I get an workaround for this problem

[2018-03-14 16:26] agrare commented on #133
@bp85 sorry when you said

Do you see the name and the overallStatus printed, or that it failed to collect that property?

Can you post the exact output that you got?

[2018-03-14 16:31] bp85 commented on #133
[code]

[2018-03-14 17:29] agrare commented on #133
Maybe a weird permissions issue...what do you see when you login to that vCenter with those credentials?

[2018-03-14 19:51] bp85 commented on #133
I can see the datacenter and all the hosts under it.
I can see the datastores and all the networks etc and I can create a new VM from vCenter but I can't from foreman which uses rbvmomi as backend to connect to vCenter

[2018-03-15 13:52] swalberg commented on #117
So far I seem to have something based on @sdorsett's work.

[code]

The key is not to look at `result.obj` until the very end -- it causes a load from the server. You want to look at the propSet for the name.

[2018-03-15 19:27] bp85 commented on #133
I tried to create host via cli and it failed with the following errors
[code]

[2018-03-20 19:26] chiccat opened #135 "Cookie auth"
Hello,
I got a valid token from vmware /rest api.

When I try to use it in rbvmomi I'm getting this error:
/Library/Ruby/Gems/2.3.0/gems/rbvmomi-1.11.6/lib/rbvmomi/basic_types.rb:200:in `_get_property': NotAuthenticated:  (RbVmomi::Fault)
	from /Library/Ruby/Gems/2.3.0/gems/rbvmomi-1.11.6/lib/rbvmomi/basic_types.rb:37:in `block (2 levels) in init'

Is there any explanation of this behavior with co

[2018-03-20 20:06] bp85 commented on #133
@agrare any thoughts on this issue

[2018-03-20 20:26] agrare commented on #133
I'm out of ideas, according to the SDK there should always be an overallStatus property on a ManagedEntity.  Maybe @jrgarcia can help

[2018-03-26 18:34] jrgarcia commented on #135
Hi @chiccat! Sorry for the late response. The cookie from the REST API will not work to connect with RbVmomi. They use different session mechanisms because RbVmomi talks to the SOAP API.

[2018-03-26 18:34] #135 closed

[2018-03-26 21:28] jjasghar opened #136 "Timeout on the Second try"
https://github.com/vmware/rbvmomi/blob/2e427817735e5df0aef1baa07bc95762e45a18bc/lib/rbvmomi/vim/ManagedObject.rb#L18-L25

It looks like the second time that the line `23`

[code]
Gets ran, it times out. It seems that this loop is broken and never responds. @jrgarcia and I zoomed about this and it seems that it doesn't do what is supposed to with the newest versions of the 6.5 vCenter. `Version 6.5

[2018-03-28 16:52] jjasghar commented on #136
It turns out this was environmental. It's amazing what happens when you have two NICs and no routes to one of them. :(

[2018-03-28 16:52] #136 closed

[2018-03-28 22:31] braydensterrett commented on #132
Hey @jrgarcia, sorry it has taken me so long to verify this. I am still seeing this issue in rbvmomi `1.11.7`. Here is the output of the same workflow:

<img width="1419" alt="screen shot 2018-03-28 at 5 30 57 pm" src="https://user-images.githubusercontent.com/7805772/38059868-d49aa012-32ad-11e8-8e23-152866d65b82.png">

[2018-03-28 22:32] braydensterrett commented on #132
When I attempted to run the same workflow with the exact same inputs on `1.11.3` I was able to successfully clone the template.

[2018-03-29 03:44] jrgarcia commented on #136
Well, I enjoyed the chat about the issue anyway. Thanks for bringing that code to my attention because it should probably be refactored anyway!

[2018-03-29 03:48] jrgarcia commented on #132
@braydensterrett Thanks for letting me know (and for giving me a pointer to a working version)! I may not get to it this week due to Easter, but I'll do what I can to fix this for you as soon as I can!

[2018-04-15 19:43] ibauersachs commented on #132
There seem to be more issues with that model file. Release 1.11.7 throws the following error, but a downgrade to 1.11.3 works (using fog-vsphere).

[code]

[2018-04-20 20:27] jrgarcia commented on #132
Can you try the latest version? I just pushed out [1.12.0](https://rubygems.org/gems/rbvmomi/versions/1.12.0) with support for 6.7.0 and it may have been fixed in the process.

[2018-05-15 14:00] nimDevOps commented on #117
Just want to share my result with latest rbvmomi 1.12.0, the issue is still there, vm template in folder cannot be found. I use vcenter kitchen driver and the only way to work is to place vm template in the root folder which is not allowed to have in most production vmware vcenter farms.
If there are any plans to fix this issue?

[2018-05-15 14:51] jrgarcia commented on #117
I'll look into this again and see if I can figure out what's going on.

[2018-05-15 14:55] swalberg commented on #117
@nimDevOps if you downgrade to the older `chef-provisioning-vsphere`, it supports templates and VMs in subfolders for the kitchen driver.

[2018-05-15 15:06] nimDevOps commented on #117
@jrgarcia Thanks! I will wait for your suggestions/findings.

[2018-05-29 17:09] agrare opened #137 "HostVirtualSwitch portgroup and pnic are of wrong wsdl_type"
When attempting to correlate which switches a host's physical nics are associated with I noticed that the return type of `HostVirtualSwitch#pnic` doesn't match the API.

[code]

When looking at my managed object browser the return should look like:
![screenshot from 2018-05-29 13-02-45](https://user-images.githubusercontent.com/12851112/40673742-ab02755e-6340-11e8-9f71-aa2ded45b3a0.png)

The SDK s

[2018-06-12 16:19] #137 closed

[2018-06-20 23:32] jarretlavallee commented on #126
@agrare Thanks for taking a look at this and providing more context. I was not expecting the traverse to expect the full path for a nested folder. So the `traverse` just returns the object for the path that you specify rather than finding the object within the current path?

[2018-06-21 08:01] agrare commented on #126
@jarretlavallee exactly, if you look it is actually splitting on `'/'` and looping over that then returning the final thing it found.

[2018-06-21 16:00] jarretlavallee commented on #126
Thanks!

[2018-06-21 16:00] #126 closed

[2018-06-25 13:56] nimDevOps commented on #117
Do you have any updates on this ?

[2018-08-30 08:25] CASIXx1 opened #142 "trollop changed its name to optimist"
I think we should rename trollop to optimist
https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/trollop.rb

Because the project name of trollop has been changed to optimist

[code]

PR：https://github.com/ManageIQ/optimist/pull/99/files
History：https://github.com/ManageIQ/optimist/blob/master/History.txt

[2018-09-10 11:51] petericebear opened #143 "How to remove a vmdk from a VM?"
Hi,

I saw a community example from Python:
https://github.com/vmware/pyvmomi-community-samples/blob/master/samples/delete_disk_from_vm.py

My ruby is not good, Is it possible to remove a disk with rbvmomi based on an index?
I am using Knife Vsphere, which is using RBV Momi in the background.

[2018-09-12 13:58] agrare commented on #143
Hey @petericebear I was going to post a gist here but figured I would just make a PR to add an example.
Check out https://github.com/vmware/rbvmomi/pull/144/files for an example of deleting a disk by unitNumber.

[2018-09-12 14:07] petericebear commented on #143
Kewl Thanks!

[2018-09-12 14:09] jrgarcia commented on #143
@petericebear 😞  I never saw a notification for this. Sorry about that! @agrare Thanks so much for that! I'll take a look and get it merged in. 🎉

[2018-09-12 14:12] #143 closed

[2018-10-08 19:51] davehewitt commented on #142
I made a PR for this: https://github.com/vmware/rbvmomi/pull/145

[2018-10-09 18:20] jrgarcia commented on #142
Fixed by #145

[2018-10-09 18:20] #142 closed

[2018-11-27 09:30] manchiu opened #146 "PropertyCollector.collectMultiple: RbVmomi::Fault: ManagedObjectNotFound: The object has already been deleted or has not been completely created"

[2018-11-27 09:57] manchiu opened #147 "PropertyCollector.collectMultiple: Encounter ERROR when fetching a list of VMs and at the same time some VMs are being destroyed"
Hi all, I am using list_virtual_machines.rb in fog/fog-vsphere and at the same time some VMs are being destroyed in my vCenter Server by other staffs. Then I encountered the below ERROR:
[code]
Moreover, I have added some fields like datastore, resourcePool, customValue, guestNetInfo and network in the hash(ATTR_TO_PROP) for your reference.
[code]
I suggest it should by-pass the VMs which are bein

[2018-11-27 10:07] #146 closed

[2019-01-02 21:41] dandunckelman commented on #132
I'm using [foreman v1.19](https://github.com/theforeman/foreman), which uses **rbvmomi v1.13.0**, and when I tried creating a VM, I got this error message:

![image](https://user-images.githubusercontent.com/1153702/50613750-e4a13280-0e9b-11e9-9227-725d86f43e66.png)

Here's the stacktrace with the most important info:

[code]

[2019-01-02 21:53] dandunckelman commented on #120
Closing since @klevron1 provided a solution.

[2019-01-02 21:53] #120 closed

[2019-01-03 18:16] dandunckelman commented on #132
We are using vCenter 6.7 and found that the VM we used as the source had a snapshot.  After removing the snapshot, we no longer received the error and the VM deployed as expected.

[2019-01-09 10:58] mkesper opened #150 "Ensure upload of images actually succeeds"
Whether the upload is using curl as right now or the method proposed in #119, it should always check that there were no errors.
Right now, the result of the curl command isn't checked at all:
OvfManager.rb:
``

        system("#{downloadCmd} | #{uploadCmd}", :out => "/dev/null")

        keepAliveThread.kill
        keepAliveThread.join

        progress += (90.0 / result.fileItem.length)

[2019-01-09 11:04] mkesper commented on #150
Example:

``
2019-01-07 11:43:53 +0100: Uploading OVF to przlhyp711.t001.vif.fw.devk.de...
DEBUG: Timeout: 300
Iteration 1: Trying to get host's IP address ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

[2019-01-27 18:35] hdep commented on #132
FYI, I've got the same issue with 1.18.3

[2019-02-04 21:11] braydensterrett commented on #132
Is there any update on the original issue? We are still locked in at v1.11.3.

[2019-02-05 19:24] jrgarcia commented on #132
@braydensterrett Unfortunately, no. I haven't had a chance to come back to this. I'm going to make it my main focus for today (and this week if necessary) though! I'll make sure this gets fixed.

[2019-02-09 21:01] kotyara85 commented on #135
Hi @jrgarcia,
Is there a way to use connection with cookie then?
Thank you!

[2019-02-12 16:57] jrgarcia commented on #132
@braydensterrett I'm still looking into this. I'm trying to ensure that the vmodl.db generation process is working appropriately for good so that the project can move forward knowing that the generation of it works correctly. Sorry, it's taking a while, but this has been a problem on enough occasions that I feel it warrants a deeper look into it.

[2019-02-13 20:36] jrgarcia commented on #132
@braydensterrett (or anyone else running into this issue), can you try to use the [fix-132 branch](https://github.com/vmware/rbvmomi/tree/fix-132) and see if it resolves your issues? I can't recreate the issue described here, but I've generated a new vmodl.db that is working fine and I'd like to see if it fixes the issues you are having. Thanks!

[2019-02-13 20:37] braydensterrett commented on #132
Yeah I'll give it a try this afternoon. Thanks for taking a look again.

[2019-03-07 16:39] braydensterrett commented on #132
Sorry it's taken me awhile to get back to you. I am seeing positive results from the `fix-132 branch`. Thank you for your work on this!

[2019-03-08 01:53] jrgarcia commented on #132
If all is going well, I'll try and get this merged into master this week and push a new release. Thanks for testing!

[2019-03-26 19:30] braydensterrett commented on #132
Hey @jrgarcia, has this been released into a consumable version yet? We are hoping to get off of version 1.8 ASAP

[2019-03-26 19:35] jrgarcia commented on #132
@braydensterrett I apologize, life happened and this completely slipped my mind. 😞 I'll get this merged into master and release a new version right now!

[2019-03-26 19:50] #132 closed

[2019-03-26 19:52] jrgarcia commented on #132
@braydensterrett [Version 2.1.0](https://rubygems.org/gems/rbvmomi/versions/2.1.0) has been released with this fix in it.

[2019-03-27 17:46] mingyangz1 opened #153 "Add support for SSO"
The vCenter Single Sign On Server provides a Security Token Service (STS). A client can call to STS service to acquire a SAML token and call loginByToken in SessionManager to login to VC by using the token.

Can we add the support to acquire a SAML token? So we can use the token to login to VC.

[2019-04-09 10:12] sugamasuhasini opened #155 "createDate under vm config property shows empty in rbvmomi"
I want to know the VM creation date. I am using vsphere 6.7. when i query createDate under vm config i'm getting blank. I can query other properties like modified, changeVersion etc.

[2019-04-09 19:51] smlsml opened #156 "Memory leak caused by at_exit {} usage"
https://github.com/vmware/rbvmomi/blob/893e41374464ec05904ff3a3b326c704819e2f4a/lib/rbvmomi/vim.rb#L67

We've been debugging a memory leak in our application and have narrowed it down to the at_exit { conn.close } usage in vim.rb. We have a long running server, so there hundreds of thousands of uncollected RbVmomi objects.

I can see how this would be a useful cleanup method if the expectation is

[2019-04-09 20:42] jrgarcia commented on #156
Thanks for reporting this @smlsml! There is a pull request for this exact problem [here](https://github.com/vmware/rbvmomi/pull/154). I'm not keen on just removing it, but I do agree it is an issue for long-running processes as opposed to scripts. I'll definitely do something to handle this soon (in the next couple of days).

[2019-04-09 20:46] smlsml commented on #156
Great! Thanks for fast reply. We're behind a couple releases on the Gem. This gives me a good reason to test the upgrade so no rush.

Perhaps an :close_on_exit option that defaults to true when not provided, that way existing functionality doesn't change unless requested.

[2019-04-14 17:56] srobroek opened #157 "esxcli option not working"
related issue: https://github.com/vmware/rbvmomi/issues/127 as i'm experiencing the same issue.

[code]
Looking at the issue, the entire method RetrieveDynamicTypeManager seems to have gone missing..

[2019-04-15 17:05] jrgarcia commented on #156
@smlsml Can you see if [this branch](https://github.com/vmware/rbvmomi/tree/at-exit) fixes this issue for you?

[2019-04-16 00:31] smlsml commented on #156
Yep that does it. Can close this when that goes in!

[2019-04-17 12:50] seandilda commented on #157
I'm seeing this as well.   Looks like 2.0.1 works, but 2.1.0 reintroduced the bug.

[2019-04-17 21:10] #156 closed

[2019-04-18 15:25] agrare opened #159 "RbVmomi 2.1.0 breaks PBM"
With rbvmomi-2.0.1:
[code]

With rbvmomi-2.1.1
[code]

[2019-04-18 15:26] agrare commented on #159
Looks like dynamicProperty attributes of PropertyChange were dropped also:

[code]

with 2.1.1
[code]

[2019-04-18 15:27] jrgarcia commented on #159
Thanks for reporting @agrare! This whole generation process is crazy. I need to spend some time revamping it. :weary:

[2019-04-18 15:29] agrare commented on #159
@jrgarcia yeah I was thinking of trying to write a rake task to generate the `vmodl.db` automatically, or at least some spec tests to try to catch regressions.

Is it just generated from the publicly available wsdls or is anything else used?

[2019-04-18 15:30] jrgarcia commented on #159
Unfortunately, it's something internal. I'll see about creating a rake task to generate it from the public WSDL (like it should have been from the start!).

[2019-04-26 13:57] #157 closed

[2019-04-26 14:02] #159 closed

[2019-04-26 14:04] agrare commented on #159
Thanks @jrgarcia !

[2019-04-26 14:05] jrgarcia commented on #159
@agrare v2.1.2 should be available from RubyGems. Sorry it took so long to get this out!

[2019-05-08 18:55] jrgarcia opened #162 "Drop support for all EOL Ruby versions"
Currently, all versions of Ruby going back to 1.8.7 are supported. There is really no reason to keep supporting versions of Ruby that are EOL going forward. This shouldn't affect anyone that needs to use an older Ruby version. It just means that they won't be getting any new feature updates.

[2019-05-10 16:18] jrgarcia opened #163 "Add code coverage/review tools to run for every commit/PR"
Find a code coverage/review tool to run on every change and get it set up and running. Ideally, it would run all tests and report on the coverage as well as run RuboCop and potentially even more tools to ensure the code is only increasing in quality and never decreasing.

[2019-05-10 16:20] jrgarcia opened #164 "Get code coverage to a respectable level"
Find out what the level of code coverage is at on this code and get it to a decent level. I'm not exactly sure what this level will be, but I'm certain it can be a lot better than it is currently. My guess is it will be below 80% and I'd like to at least get it to that level (and hopefully even higher).

[2019-05-10 16:25] jrgarcia opened #165 "Revamp the VMODL DB usage"
The way that the vmodl.db gets generated as well as it's usage isn't as good as it could be. I would like the generation to be a lot easier to use and however it ends up being done should have a way to easily diff and review any changes made.

[2019-05-13 18:34] sandipsubedi opened #166 "API to create Datastore"
Went through vmware documentation and couldn't find the answer. Is there a way to create datastore via REST API?

From this conversation seems like REST API is not exposed yet:
https://communities.vmware.com/message/2858974#2858974

And looking at rbvmomi for SOAP API, looks like it's not exposed yet either:
https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/Datastore.rb

Am I missing s

[2019-05-13 19:31] agrare commented on #166
@sandipsubedi have you checked out the `create*Datastore` methods in [`HostDatastoreSystem`](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/fe08899f-1eec-4d8d-b3bc-a6664c168c2c/7fdf97a1-4c0d-4be0-9d43-2ceebbc174d9/doc/vim.host.DatastoreSystem.html)?  E.g.: [`CreateVmfsDatastore`](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/fe08899f-1eec-4d8d-b3bc-a6664c168c2c/7fdf97a1-4c0d-4be0-

[2019-05-13 19:36] sandipsubedi commented on #166
I just updated my comment. I meant for REST API at first. That seems like it's for SOAP API, but I don't think it's exposed here right?
https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim/Datastore.rb

[2019-05-13 19:38] jrgarcia commented on #166
RbVmomi doesn't support talking to the REST API. For that, you'd have to use the [Automation SDK](https://github.com/vmware/vsphere-automation-sdk-ruby). However, creating a datastore is not available from the REST API at this time. To view what's available from the REST API, you can go to `https://<your-vcenter>/apiexplorer`.

[2019-05-13 19:40] jrgarcia commented on #166
@sandipsubedi Right now, the only way to do this via Ruby is to use RbVmomi and use the methods that @agrare linked to above.

[2019-05-13 19:46] agrare commented on #166
@sandipsubedi The methods to create a datastore aren't defined on the Datastore class which is why you don't see them there.

If you have a host object you can do: `host.configManager.datastoreSystem.CreateVmfsDatastore(spec: your_datastore_spec)`

[2019-05-13 19:50] jrgarcia commented on #166
☝️ That's correct. Those methods are available on the `HostDatastoreSystem` object, which you can get to via the way that @agrare described above (`Host` -> `HostConfigManager` -> `HostDatastoreSystem`).

[2019-05-13 19:50] sandipsubedi commented on #166
@jrgarcia @agrare  Thank you for the info.

We are already using RbVmomi, so we are fine using the SOAP API calls. I will give it a try and see how it goes.

[2019-05-13 19:52] jrgarcia commented on #166
I'm going to go ahead and close this. Feel free to reopen it if you run into any problems.

[2019-05-13 19:52] #166 closed

[2019-05-16 20:23] sandipsubedi commented on #166
I was able to make the API call, but getting this error,
[code]

This is what my spec looks like. I have included all the required fields. Couldn't figure out what's going on and the error message doesn't point which parameter is not correct.

[code]

Is there a way to get detailed error message? Any idea on what I might be doing wrong?

The LUN is already created and I was able to collect diskUUI

[2019-05-16 21:46] sandipsubedi commented on #166
Or maybe there is a log message I can see?

[2019-05-17 00:19] jrgarcia commented on #166
@sandipsubedi If you set the `RBVMOMI_DEBUG` environment variable or set the `:debug` option to `true` when you call `RbVmomi::VIM.connect`, you'll get debug logging.

[2019-05-17 00:21] jrgarcia commented on #166
I'll also check the code you used and see if I can find the parameter that's not working. I'm not around a computer right now though.

[2019-05-17 15:26] sandipsubedi commented on #166
@jrgarcia  Thank you for your suggestion. I tried adding the :debug option to true when I call RbVmomi::VIM.connect and I basically get the same error but on XML format:

[code]

I tried binding.pry on the response on rbvmomi and get this(basically the same).
[code]

`desc` from here https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/connection.rb#L57  looks like this:
[code]

[2019-05-17 16:09] sandipsubedi commented on #166
I am able to make calls to login to vcenter, get infos about disks, host and so on. And I am able to create datastore from the UI using the same credentials. So I don't think this is any kind of authentication issue.

[2019-05-21 20:17] sandipsubedi opened #167 "A specified parameter was not correct:"
I am trying to create a datastore via rbvmomi. I was able to make the API call, but getting this error,
[code]
This is what my spec looks like. I have included all the required fields. Couldn't figure out what's going on and the error message doesn't point which parameter is not correct.
[code]

call
[code]

The LUN is already created and I was able to collect diskUUId and diskName as following:
1

[2019-05-23 04:16] jrgarcia commented on #167
This looks like it should be correct, I'll see if I can reproduce this and figure out what's going on.

[2019-05-23 14:39] sandipsubedi commented on #167
I also only why `diskUuid` is required on the API when it's not required on the vmfstools and powershell.

[2019-06-08 05:19] akhilkr128 commented on #166
Hi @jrgarcia , Are you able to reproduce the issue?

[2019-06-10 04:37] jrgarcia commented on #166
Sorry, I haven't responded lately. I'm still looking into this. I've not been able to recreate this and I don't see any issue with the parameters being passed. I'll keep checking though.

[2019-06-10 04:39] jrgarcia commented on #155
@sugamasuhasini I am able to recreate this. I haven't found the issue yet though. I can get the `createDate` to return properly anytime I use another tool or write the code by hand to make the call. Whenever I use rbvmomi though, it shows `nil`. I'm thinking it's related to deserialization of that parameter. I'll keep looking.

[2019-06-10 07:07] akhilkr128 commented on #166
@jrgarcia Thank you for the response and your time.
Can you please let us know on which vSphere version you were able to create datastore? We are trying it on `Version 6.5.0.20000 Build 8815520`.

[2019-06-10 15:34] jrgarcia commented on #166
@akhilkr128 I honestly don't remember. Thanks for mentioning the version you are using. I'll use an environment matching that version to test.

[2019-06-11 08:48] sugamasuhasini commented on #155
@jrgarcia Thanks for the update! Is there an equivalent property that gives me when the VM was created?

[2019-06-12 14:51] jrgarcia commented on #155
@sugamasuhasini Not that I'm aware of. You can use `modified` and it should show the creation date if it has not been modified since creation. That is nowhere near equivalent though. I'm still looking into this and will keep you updated. Sorry for the delay!

[2019-06-12 20:32] jrgarcia commented on #155
I've found a workaround, but it's unacceptable in my opinion. I'm still looking to see what's happening. To get this working, you can do
[code]
I cannot figure out why `createDate` is not returning on this even though it's clearly available if you specifically ask for that property. I'm still actively looking into it though.

[2019-06-13 16:21] sugamasuhasini commented on #155
Exactly!! every other property works except for this one :(

[2019-06-13 16:21] jrgarcia commented on #155
Yeah, I have no idea why. I'm getting pretty frustrated trying to figure out the root cause. It's definitely going to get fixed though!

[2019-06-13 22:05] #155 closed

[2019-06-13 22:07] jrgarcia commented on #155
I'm very angry that I somehow missed this, but it should be fixed for you now. Sorry that this took so long. I'm kind of embarrassed that I somehow didn't catch this sooner. 🤦‍♂

[2019-06-14 02:14] jrgarcia commented on #153
Fixed by #161

[2019-06-14 02:14] #153 closed

[2019-06-19 12:22] sugamasuhasini commented on #155
@jrgarcia Tried querying that property on multiple VCs. Still no luck :( is there any tweak need to be done from my end to get that to work?

[2019-06-24 21:00] jrgarcia commented on #155
@sugamasuhasini Sorry! I was out on vacation. Are they all 6.7+ vCenters? You mentioned using 6.7 in your original report, but I want to make sure that's the case.

What happens if you call `RbVmomi::VIM.connect(opts)` where `opts` contains a key `:rev` set to `6.7`? I tried this and it was immediately available on every instance I tested.

[2019-06-25 15:33] kseneker commented on #167
@jrgarcia - i'm seeing this as well. have you been able to reproduce the issue on your end?

Here's the version we're using `Version 6.5.0.20000 Build 8815520`

[2019-06-25 16:49] jrgarcia commented on #167
I'm seeing this too. This is my top priority right now. I'll keep you updated.

[2019-06-25 16:55] braydensterrett commented on #167
Any merit to providing the actual object `RbVmomi::VIM::HostDiskPartitionSpec()` instead of `{}`? Or is that just getting converted to a Hash under the hood anyway?

[2019-06-25 16:56] jrgarcia commented on #167
@bradmeiseles Never hurts to try, but it _should_ be the same either way.

[2019-06-25 17:10] braydensterrett commented on #167
I'm just suspicious that there's some strangeness going on with that empty hash. I can't find another example in our code base where we have a required key in the top level `spec` and all of it's containing keys are optional AND we aren't providing any of them.. Will verify that with another engineer sometime today and report back here.

[2019-06-25 18:06] braydensterrett commented on #167
Just as an update here, I worked with @sandipsubedi to utilize the `HostDatastoreSystem` object's methods `QueryAvailableDisksForVmfs` and then `QueryVmfsDatastoreCreateOptions` to generate options from the SDK itself, and when we used the generated spec, the datastore create operation worked flawlessly. I am still a bit suspicious that there's some strangeness going on with what is or isn't requi

[2019-06-25 18:11] jrgarcia commented on #167
I'm not sure why that call wouldn't work with the provided spec, but I'm glad you found a workaround. I'll try to see if I can find what's going on.

[2019-06-26 17:26] jrgarcia commented on #167
From what I can tell, all of the properties are required on `VmfsDatastoreCreateSpec.partition` (which is a `HostDiskPartitionSpec`). The documentation says they are the properties on `HostDiskPartitionSpec` are not required, but they appear to be. The only reason I can think of that this documentation may be wrong would be due to these properties _not_ being required on the `HostDiskPartitionSpec

[2019-06-26 17:26] #167 closed

[2019-07-14 12:44] aimers1975 opened #168 "Trying to get an example to add an nvdimm device/host PMEM datastore to a virtual machine. I've read the docs, but I'm missing some clarity somewhere, and keep getting errors."
@jrgarcia If it helps at all to getting an answer to this example we are stuck on.  Here is what we are currently encountering:

We are using the vmware rbvmomi ruby API version 2.2. [We were previously using RbVmomi 1.12, but were finding some of the objects were not found.  So possibly confirm this operation requires the latest rbvmomi?]

We are trying to attach an NVDIMM directly to a VM via th

[2019-07-22 13:30] sugamasuhasini commented on #155
@jrgarcia yes they are 6.7 vcenters. I still get blank value :(

[2019-07-22 13:48] kartikaydw opened #169 "vStorageObjectManager not able to create a disk under specified folder"
virtualDiskManager is getting deprecated hence I was updating my code to create disk via vStorageObjectManager

The problem is its not taking path as a parameter in vmdk_spec block and creating the disk in the default location

Code:

    vmdk_spec = RbVmomi::VIM::VslmCreateSpecDiskFileBackingSpec(
        datastore: vmdk_datastore,
        provisioningType: 'thin',
      )

      vmdk_backing = R

[2019-07-22 14:06] jrgarcia commented on #169
@kartikaydw Just to make sure I'm understanding the issue correctly, the vmdk_spec refuses to allow you to pass a path which means that it always uses the default path and you need to use a non-default path. Is this correct?

[2019-07-22 14:57] kartikaydw commented on #169
@jrgarcia Yes you are right, basically I want to create a disk under specified VM folder and then attach the virtual to the VM.

[2019-07-22 16:34] jrgarcia commented on #169
@kartikaydw Looking at your code snippet, you are creating a `VslmCreateSpecDiskFileBackingSpec`, but the `VslmCreateSpec` takes a `VslmCreateSpecBackingSpec` and that takes an optional `path` parameter. I can see that the `vmodl.db` has this correctly.

[code]

If you use this type (`VslmCreateSpecBackingSpec`), does it work?

[2019-07-22 16:59] kartikaydw commented on #169
Thanks @jrgarcia for looking into this.
Yes I tried using VslmCreateSpecBackingSpec in the below snippet , but it fails out with error

     vmdk_spec = RbVmomi::VIM::VslmCreateSpecBackingSpec(
        datastore: vmdk_datastore,
        #provisioningType: 'thin',
        path: "[#{vmdk_datastore.name}] #{vmdk_file_name}"
      )

  vmdk_backing = RbVmomi::VIM::VslmCreateSpec(
    capacityInMB: siz

[2019-07-22 17:01] jrgarcia commented on #169
Ok, just wanted to make sure. I'll continue to check into this. Thanks!

[2019-07-22 21:11] aimers1975 commented on #168
@jrgarcia Was able to get this to work.  The filename needed to be left empty for the NVDIMM device backing. Changing to:
backing = RbVmomi::VIM.VirtualNVDIMMBackingInfo(:fileName => "")
and my code worked... The vCenter logging where the filename string was populated threw  me off.

Got some help from another forum, hope this may help someone else trying for the same operation.

[2019-07-22 22:19] jrgarcia commented on #168
@aimers1975 Good to know! Thanks for following up. Is this ok to close?

[2019-07-23 00:36] jrgarcia commented on #169
I'm still looking into this. I'm waiting on feedback to confirm a suspicion I have. I'll let you know as soon as I have any info.

[2019-07-23 03:58] kartikaydw commented on #169
Tanks @jrgarcia

[2019-07-23 16:23] jrgarcia commented on #169
Ok, it appears that the `path` is expected to be a certain format. It should be an existing folder and nothing more meaning that you don't include `[#{datastore.name}]` or give a file name. It is just the name of an existing folder on that datastore. For example, instead of `'[datastore1] folder1/folder2/filename.vmdk'` you would just do `'folder1/folder2'`.

[2019-07-23 16:23] #169 closed

[2019-07-23 16:36] jrgarcia commented on #155
@sugamasuhasini Did you try passing in `:rev => '6.7'` as one of the options to `RbVmomi::VIM.connect`? If that doesn't work, can you verify the version of RbVmomi you are using and what the `.rev` property is set to.

[2019-07-23 16:43] jrgarcia commented on #168
I'm going to go ahead and close this for now, but feel free to reopen this or file a new issue if something causes a problem again. Thanks!

[2019-07-23 16:43] #168 closed

[2019-07-23 17:06] jrgarcia commented on #147
I'm incredibly sorry for somehow missing this and not following up! 😞

For this issue, I'd say that it's not right for `rbvmomi` to bypass the VMs being destroyed. `rbvmomi` is meant to mimic the web service API as closely as possible and this is how the `PropertyCollector` works. While `rbvmomi` does at some points provide some extensions to make things a bit easier, this is using the `PropertyCo

[2019-07-23 17:06] #147 closed

[2019-07-29 10:03] sugamasuhasini commented on #155
@jrgarcia Thanks a lot :) This is working fine for me after including the :rev => '6.7' in the opts.
Appreciate your help in this!!

[2019-08-02 19:25] nimDevOps opened #170 "kitchen destroy stopped working on kitchen-vcenter"
Opened the issue on test-kitchen project here:
https://github.com/test-kitchen/test-kitchen/issues/1580

There is a chance that rbvmomi-1.13.0 is the last in a food-chain here.
Could it be broken by vmware vSphere between 6.5 and 6.7.
I remember it used to work fine.

[2019-08-02 19:29] jrgarcia commented on #170
I'm not sure what you're referring to with it being `the last in a food-chain`. Are you saying that the underlying problem with `test-kitchen` may be caused by `rbvmomi`? I'll take a look at the problem you're having with `kitchen-vcenter` and see if I can figure out what's going on.

[2019-08-02 19:30] nimDevOps commented on #170
Thanks for the fast response.
I think it might be related to vmware version upgrade from 6.5 to 6.7 on our farm.

[2019-08-02 19:31] jrgarcia commented on #170
Ok. There shouldn't be any problems moving from vSphere 6.5 to 6.7 with rbvmomi. I'll take a look at your issue and see if I can figure out what's going on.

[2019-08-02 19:32] nimDevOps commented on #170
Thanks,

[2019-08-02 21:49] nimDevOps commented on #170
I've just tested brand new configuration based on your new kitchen-vcenter (2.4.0) driver comparing to previous kitchen-vcenter (1.4.2) . Once I fixed **libcurl** issue with workaround here https://github.com/chef/chef-dk/issues/2025, **kitchen destroy** worked fine.

Here is a diff of chef gem list:
[New configuration, extra gems]:
 - ethon (0.12.0)
 - typhoeus (1.3.1)
 - vsphere-automation-cis (

[2019-08-02 22:03] jrgarcia commented on #170
The vsphere-automation-sdk does use typhoeus which depends on ethon. I need to modify the templates in that SDK to just use Net::HTTP so there are no dependencies. I'll see if I can help dig in to see what's going on with ethon. Moving to Net::HTTP won't happen very quickly because that's kind of a big change, but I'll definitely make that a higher priority.

[2019-08-05 15:45] jrgarcia commented on #170
I'm going to go ahead and close this issue since the problem isn't with rbvmomi at all, but I'll create a new issue for the vSphere Automation SDK to replace Typhoeus usage with Net::HTTP. Thanks for reporting! I was unaware of this issue until you brought it to my attention!

[2019-08-05 15:45] #170 closed

[2019-12-18 16:48] mouyaq opened #171 "portgroup info empty"
With rbvmomi 1.9.3
in a HostSystem object
host.config.network.vswitch retrieve all standard vswitches with its portgroups

With rbvmomi 2.2.0
host.config.network.vswitch retrieve all standard vswitches but its portgroups has empty values

[2019-12-19 09:39] mouyaq commented on #171
replacing vmodl.db with the old version solve the problem, so there is something missing into vmodl.db....

[2019-12-19 14:17] agrare commented on #171
@mouyaq :+1: I'm seeing the same issue, we probably need the same fix as https://github.com/vmware/rbvmomi/pull/138 again

[2019-12-19 14:29] mouyaq commented on #171
I've seen today another way to get that info:

host.configManager.networkSystem.networkInfo.portgroup

[2019-12-19 14:40] jrgarcia commented on #171
I’ll get this fixed today. Thanks for reporting!

[2019-12-19 23:16] jrgarcia commented on #171
This should be fixed with [v2.3.0](https://rubygems.org/gems/rbvmomi/versions/2.3.0). Let me know if you run into anymore issues with this!

[2019-12-19 23:16] #171 closed

[2019-12-25 10:29] AviSh777 opened #172 "Error message while using esxi_cpu_stats.rb"
Hi there,
While using rbvmomi to get stats for my ESXi, I'm getting the following error.
I'm using latest version 2.3.0

esxi_cpu_stats.rb:50:in `<main>': undefined method `stats' for nil:NilClass (NoMethodError)

Any kind of help is highly appreciated.
Thank you.

[2019-12-30 16:02] jrgarcia commented on #172
I apologize for not getting to this quicker, I was out for the holidays here. Can you show me some of your code so that I can see exactly what's going on to take a look. All this tells me is that you are trying to call the `stats` method on `nil`. I'll need to see what's going on around that to see what problems you might be having.

[2019-12-30 16:46] AviSh777 commented on #172
Hello.
Thank you for getting back to me, I highly appreciate it.
I attached the ruby file I'm trying to use in order to monitor an ESXi CPU
using sensu.
The command I use is: *esxi_cpu_stats.rb -i insecure -H <host ip> -P
<password> -u <user> -p 60*
The error received is: *esxi_cpu_stats.rb:50:in `<main>': undefined method
`stats' for nil:NilClass (NoMethodError)*
Thank you and let me know if you

[2019-12-30 16:54] jrgarcia commented on #172
Unfortunately, you aren't able to attach files over the GitHub comment system. You'll have to copy and paste the code.

[2019-12-30 17:07] AviSh777 commented on #172
ok, here's the full code:

#
# Author:: JJ Asghar (<jjasghar@gmail.com>)
# License:: Apache License, Version 2.0
#
# Copyright (c) 2016 The Authors, All Rights Reserved.

require 'rbvmomi'
require 'optparse'

options = { :host => nil, :insecure => true, :name => nil, :percent => nil,
:password => nil, :user => nil}
parser = OptionParser.new do |opts|
  opts.banner = "Usage: esxi_memory_stats.rb [o

[2019-12-30 22:55] jrgarcia commented on #172
@AviSh777 So looking at this, I was a little confused at first. The command line option `--name` asks for the name of the ESXi machine which sounds like it wants a single host's name. However, the `find_compute_resource` method is looking for a `ComputeResource` which means it operates on a `ClusterComputeResource`. Based on what you are showing is called, you aren't passing a `--name` which is sh

[2019-12-31 11:33] AviSh777 commented on #172
J.R. Garcia - thank you very much!!! You gave me a great lead to the
solution!!!

I actually had to write the hostname of the ESXi host I was pointing to
instead of the cluster name he's under.

Case can be closed - again thank you.

On Tue, Dec 31, 2019 at 12:55 AM J.R. Garcia <notifications@github.com>
wrote:

[2019-12-31 13:17] jrgarcia commented on #172
Awesome! I’m glad it’s working for you!

[2019-12-31 13:17] #172 closed

[2019-12-31 21:00] AviSh777 commented on #172
Hello J.R. Garcia,
While running *ruby /opt/sensu/embedded/bin/esxi_cpu_stats.rb -i insecure
-H <host ip> -n <hostname> -P <password> -u <username> -p 85*
I'm getting  *OK: ESXi is under the max cpu usage using 25.9%*
However, when I send it to my uchiwa (sensu) I'm getting the following
output:

/opt/sensu/embedded/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kernel_require.rb:54:in
`require': cann

[2019-12-31 21:20] jrgarcia commented on #172
@AviSh777 I'm not familiar with Sensu, but it looks to me like it is unable to require rbvmomi. Unfortunately, I can't help much with this as it's not a problem with rbvmomi and I've never used Sensu. I'm not sure how plugins or scripts work in Sensu, but you may have to have rbvmomi installed on that machine in a certain way.

[2020-01-01 06:17] AviSh777 commented on #172
Thanks a lot for all the assistance, I’ll continue my research.

Avi

Sent from my iPhone

[2020-01-28 19:54] rshade commented on #165
does #91 address this?

[2020-01-30 19:52] kpureblade opened #174 "Definition of StoragePod class and how to query for it?"
I am trying to find functionality for datastore clusters (StoragePods) using rbvmomi.  I found this issue posted on the python API interface back in 2014 that has them finding the StoragePod objects in Ruby that I have been using as a starting point:

https://github.com/vmware/pyvmomi/issues/24

Basically to start, I am looking for a way to identify what StoragePods are accessible from a given VM.

[2020-01-30 23:11] jrgarcia commented on #174
The code for all of the classes is generated dynamically at runtime by the `vmodl.db` in the root of the repo. If you want to view what's in there, it's just a Ruby `Hash` that has been `Marshal.dump`ed and then written to a file (`vmodl.db` in this case). You can read it by doing the reverse (from the root)
[code]
To view the documentation without having to go through all of that, it maps 1-1 to

[2020-02-12 09:48] MaartenMol commented on #79
This is still an issue. I have just setup a fresh vCenter and Foreman. Trying to accomplish automatic provisiosing of Windows VMs with Puppet agent. However, the commands are not ran anytime.

[2020-02-20 13:40] nilsparmar commented on #94
I'm facing issue while creating new vm using create_VM.rb, it gives below error:
`wait_for_completion': InvalidDeviceSpec: Invalid configuration for device '1'. (RbVmomi::Fault)
        from ./create_VM.rb:94:in `<main>'

- Can Anyone Help me?

[2020-02-20 20:15] ChrisPr1 commented on #94
Without seeing your code I cant be 100%, but that kind of error is almost certainly related to the way in which you are defining your VM object and its associated devices.

[2020-02-21 03:56] nilsparmar commented on #94
here is my code:
-----------------------
vm_cfg = {
:name => vmname_var ,
:guestId => 'otherGuest',
:files => { :vmPathName => '[datastore1]' },
:numCPUs => 1,
:memoryMB => 128,
:deviceChange => [
{
:operation => :add,
:device => VIM.VirtualLsiLogicController(
:key => 1000,
:busNumber => 0,
:sharedBus => :noSharing
)
}, {
:operation => :add,
:fileOperation => :create,
:device => VIM.VirtualDisk(
:

[2020-02-21 15:12] ChrisPr1 commented on #94
Please use the <code> tags when posting code so the formatting doesnt get all munged,

Here's a sample from my code at

https://github.com/ChrisPr1/infra_automation/blob/master/vcenter/create_vm.rb

`vm_cfg = {
  name: hostname,
  guestId: vmware_clientId,
  files: { vmPathName: datastore },
  numCPUs: cpus,
  memoryMB: memory,
  deviceChange: [
    {
      operation: :add,
      device: VIM.ParaV

[2020-09-04 21:06] #174 closed

[2020-09-19 22:33] #162 closed

[2020-09-19 22:34] #163 closed

[2020-09-27 02:30] jrgarcia opened #188 "Add linting/code analysis"
Add linting/code analysis to the project. Ideally, this would be from an external dependency (like RuboCop) and have a Rake task to run it. It would also be nice to have a GitHub Action to run this on every push and pull request.

[2020-09-28 17:10] Atul9 commented on #188
Hi @jrgarcia I would like to take this up. I will open a PR once the hacktoberfest starts.

[2020-09-29 03:12] jrgarcia opened #189 "Update Hash syntax"
Now that support for 1.8 has been dropped, there is no need for the 1.8 style Hash syntax. Any place where a Hash is used, it should be using the newer syntax.

[2020-09-29 06:32] Anoop01234 commented on #189
Can you assign this to me!
If yes, can you please guide me what is it that you require?

[2020-09-29 12:20] jrgarcia commented on #189
@Anoop01234 [This post](http://alwayscoding.ca/momentos/2012/06/15/ruby-hash-syntax-hashrocket-vs-json-style/) shows the differences between the two syntax styles. This issue is basically ensuring that everywhere in this project where a Hash is declared that it uses the newer syntax (if possible).

[2020-10-01 16:46] Atul9 commented on #188
Hi @jrgarcia although the issue was assigned to me but still there is PR ^ opened to close this issue. If I open a PR will it be considered?

[2020-10-01 16:50] jrgarcia commented on #188
@Atul9 Certainly. To be clear, what I was hoping for wasn't to have the issues (which I know are many) corrected in the PR. What I'd really like is to just have the setup for this done and then to slowly tackle the issues. That way there aren't too many changes being made at once. RuboCop has a concept of "todo" files where it passes over the issues as it's been noted as being known and listed as

[2020-10-01 18:21] Atul9 commented on #188
Hi @jrgarcia done, I have opened up a PR at https://github.com/vmware/rbvmomi/pull/191, please check

[2020-10-03 17:02] #188 closed

[2020-10-20 15:31] tae8838 commented on #189
Can I take this?

[2020-10-20 15:33] jrgarcia commented on #189
It's assigned to @Anoop01234, but I haven't heard anything since this started. I'd be willing to accept either as long as it gets done and is correct. 😅

[2020-10-20 16:33] tae8838 commented on #189
@jrgarcia I made a PR here: https://github.com/vmware/rbvmomi/pull/199. The tests are passing.

[2020-10-20 21:27] jrgarcia commented on #189
Closed by #199

[2020-10-20 21:27] #189 closed

[2020-12-07 20:28] agrare opened #205 "RbVmomi deserialization fails on managed object type `ContentLibrary`"
**Describe the bug**
Running a simple WaitForUpdates event catcher (watching latestPage from the eventManager) [[ref]](https://github.com/ManageIQ/manageiq-providers-vmware/pull/522/files#diff-0664ca985fdb52a4f5d40044f19f5149222c26f3caafee8e14f91432e52c3a3aR19-R111) and observed an exception when a scheduled "Sync Library" task ran.  When we caught this event an exception was raised by deserializa

[2020-12-18 15:42] jrgarcia commented on #205
Sorry, I haven't gotten to this yet. The content library APIs are not available from SOAP. That's why it isn't registered as a ManagedEntity. I'll see what I can do to have it go around this.

[2021-02-02 13:24] agrare commented on #205
No problem @jrgarcia  If you know how you'd like to handle it I can take a crack at fixing it.

I could see adding a "stub" definition to the vmodl.wsdl or more generally changing the deserializer to create an object of the base class type for that property if it can't find the class in the vmodl.

Differentiating between an actual error and a case like this would be tricky though, but I don't kno

[2021-04-28 15:52] #165 closed

[2021-04-28 15:52] #164 closed

[2021-04-28 16:08] agrare commented on #205
Hey @jrgarcia!  I see you're no longer with VMware, congrats on the new job!  Best of luck.
Do you know if there is there a new maintainer of this gem?

[2021-04-28 16:10] jrgarcia commented on #205
Thanks, @agrare! Unfortunately, I do not know who will be working on this going forward. I'll see if I can find an answer for you, but as I have no access to anything internal to VMware anymore, I'm not sure I'll be able to get an answer too quickly.

[2021-06-15 13:14] agrare opened #208 "New Data Types added in vSphere 7.0 U1 and U2 missing from vmodl.db"
**Describe the bug**
RbVmomi is missing data types added in vSphere 7.0 U1 and U2 causing "unknown VMODL type X" errors

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a vSphere 7.0.1 or 7.0.2
2. Issue a request for which the response will return a missing datatype (e.g. `VsanDatastoreInfo`)
3. :boom:

**Expected behavior**
RbVmomi should be able to deserialize datatypes from the